[Desktop Entry]
Type=Service
Name=Fake Mediasource
Name[ca]=Font de medis fictícia
Name[ca@valencia]=Font de medis fictícia
Name[da]=Falsk mediekilde
Name[de]=Fingierte Medienquelle
Name[en_GB]=Fake Mediasource
Name[es]=Fuente multimedia simulada
Name[fi]=Testimedialähde
Name[fr]=Source de média fictive
Name[gl]=Orixe multimedia falsa
Name[it]=Sorgente multimediale finta
Name[ko]=가짜 미디어 원본
Name[lt]=Suklastotas Medija  šaltinis
Name[nl]=Fake mediabron
Name[nn]=Falsk mediekjelde
Name[pl]=Fikcyjne źródło multimediów
Name[pt]=Fonte Multimédia de Testes
Name[pt_BR]=Fonte multimídia falsa
Name[sk]=Falošný zdroj médií
Name[sl]=Lažni vir predstavnosti
Name[sr]=Лажни извор медијума
Name[sr@ijekavian]=Лажни извор медијума
Name[sr@ijekavianlatin]=Lažni izvor medijuma
Name[sr@latin]=Lažni izvor medijuma
Name[sv]=Påhittad mediakälla
Name[tr]=Sahte Medya Kaynağı
Name[uk]=Несправжнє медіаджерело
Name[x-test]=xxFake Mediasourcexx

X-KDE-ServiceTypes=Plasma/MediaCenter/MediaSource

X-KDE-PluginInfo-Name=fakemediasource
X-KDE-PluginInfo-Author=Ashish Bansal
X-KDE-PluginInfo-Email=bansal.ashish096@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=pmc_fakemediasource
