[Desktop Entry]
Type=Service
Icon=image-x-generic
Name=Flickr
Name[bs]=Flikr
Name[ca]=Flickr
Name[ca@valencia]=Flickr
Name[cs]=Flickr
Name[da]=Flickr
Name[de]=Flickr
Name[el]=Flickr
Name[en_GB]=Flickr
Name[es]=Flickr
Name[et]=Flickr
Name[fi]=Flickr
Name[fr]=Flickr
Name[ga]=Flickr
Name[gl]=Flickr
Name[hu]=Flickr
Name[it]=Flickr
Name[ja]=Flickr
Name[lt]=Flickr
Name[lv]=Flickr
Name[mr]=फ्लिकर
Name[nds]=Flickr
Name[nl]=Flickr
Name[pl]=Flickr
Name[pt]=Flickr
Name[pt_BR]=Flickr
Name[sk]=Flickr
Name[sl]=Flickr
Name[sv]=Flickr
Name[tr]=Flickr
Name[ug]=Flickr
Name[uk]=Flickr
Name[x-test]=xxFlickrxx
Name[zh_TW]=Flickr
Comment=Discover pictures from flickr for your chosen tag
Comment[bs]=Pronađi slike sa Flickr-a za izabranu oznaku
Comment[ca]=Descobreix les imatges de «flickr» per l'etiqueta escollida
Comment[ca@valencia]=Descobreix les imatges de «flickr» per l'etiqueta escollida
Comment[cs]=Objevujte na Flickru obrázky s vámi zvolenou značkou
Comment[da]=Opdag billeder fra flickr ud fra dit valgte mærke
Comment[de]=Bilder von Flickr für Ihre ausgewähltes Stichwort suchen
Comment[el]=Ανακαλύψτε εικόνες από το flickr για την επιλεγμένη ετικέτα
Comment[en_GB]=Discover pictures from Flickr for your chosen tag
Comment[es]=Descubrir imágenes desde flickr para su etiqueta elegida
Comment[et]=Piltide leidmine flickrist vastavalt sildile
Comment[fi]=Löydä kuvia Flickristä valitsemasi tunnisteen perusteella
Comment[fr]=Découvrez des images provenant de Flickr correspondant au choix de votre étiquette
Comment[gl]=Descubra imaxes de flickr coa etiqueta que escolla
Comment[hu]=Képek felfedezése a flickr-ren a választott címkéhez
Comment[it]=Scopri le immagini da flickr per le etichette da te scelte
Comment[lv]=Atklāt attēlus no flickr jūsu izvēlētajam tagam
Comment[nl]=Zoek naar beelden uit flickr op door u gekozen tag
Comment[pl]=Odkryj zdjęcia z flickr dla wybranego znacznika
Comment[pt]=Descobrir imagens do Flickr para a sua marca escolhida
Comment[pt_BR]=Descubra as imagens do Flickr para a sua etiqueta escolhida
Comment[sk]=Objaviť obrázky z flickr pre vašu vybranú značku
Comment[sl]=Odkrijte slike iz flickra za vašo izbrano oznako
Comment[sv]=Upptäck bilder på Flickr för vald etikett
Comment[tr]=Seçtiğiniz etiketteki flickr fotoğraflarını keşfedin
Comment[uk]=Ознайомитися з зображеннями flickr за вказаною вами міткою
Comment[x-test]=xxDiscover pictures from flickr for your chosen tagxx
Comment[zh_TW]=從 flickr 中發現您指定標籤的圖片

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=flickrbackend
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_flickrbackend
