[Desktop Entry]
Name=flicklist
Name[et]=flicklist
Name[fr]=flicklist
Name[nds]=flicklist
Name[nl]=flicklist
Name[pl]=flicklist
Name[pt]=flicklist
Name[pt_BR]=flicklist
Name[sv]=Blädderlista
Name[uk]=flicklist
Name[x-test]=xxflicklistxx
Comment=Plasma flicklist
Comment[et]=Plasma flicklist
Comment[fr]=flicklist pour Plasma
Comment[nl]=Plasma flicklist
Comment[pl]=Plasma flicklist
Comment[pt]=Flicklist do Plasma
Comment[pt_BR]=Flicklist do Plasma
Comment[sv]=Plasma blädderlista
Comment[uk]=Аплет Плазми flicklist
Comment[x-test]=xxPlasma flicklistxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_flicklist
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=flicklist
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

