[Desktop Entry]
Name=flicklist
Name[ca]=flicklist
Name[ca@valencia]=flicklist
Name[cs]=flicklist
Name[da]=flicklist
Name[de]=flicklist
Name[el]=flicklist
Name[en_GB]=flicklist
Name[eo]=flicklist
Name[es]=flicklist
Name[et]=flicklist
Name[fi]=flicklist
Name[fr]=flicklist
Name[ga]=flicklist
Name[gl]=flicklist
Name[hu]=flicklist
Name[it]=flicklist
Name[ja]=flicklist
Name[km]=flicklist
Name[ko]=flicklist
Name[lv]=flicklist
Name[nb]=flicklist
Name[nds]=flicklist
Name[nl]=flicklist
Name[nn]=flicklist
Name[pa]=flicklist
Name[pl]=flicklist
Name[pt]=flicklist
Name[pt_BR]=flicklist
Name[ro]=flicklist
Name[ru]=flicklist
Name[sr]=flicklist
Name[sr@ijekavian]=flicklist
Name[sr@ijekavianlatin]=flicklist
Name[sr@latin]=flicklist
Name[sv]=flicklist
Name[tr]=flicklist
Name[uk]=flicklist
Name[x-test]=xxflicklistxx
Name[zh_CN]=flicklist
Name[zh_TW]=flicklist
Comment=Plasma flicklist
Comment[ca]=Plasma flicklist
Comment[ca@valencia]=Plasma flicklist
Comment[cs]=Plasma flicklist
Comment[da]=Plasma flicklist
Comment[de]=Plasma flicklist
Comment[el]=Plasma flicklist
Comment[en_GB]=Plasma flicklist
Comment[eo]=Plasma flicklist
Comment[es]=Plasma flicklist
Comment[et]=Plasma flicklist
Comment[fi]=Plasma flicklist
Comment[fr]=Plasma flicklist
Comment[ga]=Plasma flicklist
Comment[gl]=Plasma flicklist
Comment[hu]=Plasma flicklist
Comment[it]=Plasma flicklist
Comment[ja]=Plasma flicklist
Comment[km]=ប្លាស្មា flicklist
Comment[ko]=Plasma flicklist
Comment[lv]=Plasma flicklist
Comment[nb]=Plasma flicklist
Comment[nds]=Plasma flicklist
Comment[nl]=Plasma flicklist
Comment[nn]=Plasma flicklist
Comment[pa]=ਪਲਾਜ਼ਮਾ flicklist
Comment[pl]=Plasma flicklist
Comment[pt]=Plasma flicklist
Comment[pt_BR]=Plasma flicklist
Comment[ro]=Plasma flicklist
Comment[ru]=Plasma flicklist
Comment[sr]=Плазмин flicklist
Comment[sr@ijekavian]=Плазмин flicklist
Comment[sr@ijekavianlatin]=Plasmin flicklist
Comment[sr@latin]=Plasmin flicklist
Comment[sv]=Plasma flicklist
Comment[tr]=Plasma flicklist
Comment[uk]=Плазма flicklist
Comment[x-test]=xxPlasma flicklistxx
Comment[zh_CN]=Plasma flicklist
Comment[zh_TW]=Plasma flicklist
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_flicklist
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=flicklist
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

