[Desktop Entry]
Name=Plasma Media Center
GenericName=Plasma Media Center
Comment=A mediacenter user interface written with the Plasma framework
TryExec=plasmashell
Exec=plasmashell -ap org.kde.plasma.mediacenter
Terminal=false
Icon=plasma-media-center
Type=Application
X-DBUS-StartupType=Unique
Categories=Qt;KDE;AudioVideo;
InitialPreference=1
