[Desktop Entry]
Name=Plasma Media Center
Name[ca]=Centre multimèdia del Plasma
Name[es]=Centro multimedia de Plasma
Name[nl]=Plasma mediacentrum
Name[pl]=Centrum multimedialne plazmy
Name[pt]=Centro Multimédia do Plasma
Name[pt_BR]=Plasma Media Center
Name[sv]=Plasma Media Center
Name[x-test]=xxPlasma Media Centerxx
Name[zh_CN]=Plasma 媒体中心
GenericName=Plasma Media Center
GenericName[ca]=Centre multimèdia del Plasma
GenericName[es]=Centro multimedia de Plasma
GenericName[nl]=Plasma mediacentrum
GenericName[pl]=Centrum multimedialne plazmy
GenericName[pt]=Centro Multimédia do Plasma
GenericName[pt_BR]=Plasma Media Center
GenericName[sv]=Plasma Media Center
GenericName[x-test]=xxPlasma Media Centerxx
GenericName[zh_CN]=Plasma 媒体中心
Comment=A mediacenter user interface written with the Plasma framework
Comment[ca]=Una interfície d'usuari per a centre de medis escrit amb l'entorn de treball Plasma
Comment[es]=Una interfaz de centro multimedia escrita con la infraestructura de Plasma
Comment[nl]=Een gebruikersinterface voor een mediacentrum geschreven met het Plasma raamwerk
Comment[pl]=Interfejs użytkownika centrum multimediów zostało napisane przy użyciu szkieletu Plazmy
Comment[pt]=Uma interface de centro multimédia criada com a plataforma do Plasma
Comment[pt_BR]=Interface de central multimídia criada com a plataforma Plasma
Comment[sv]=Ett mediacenter-användargränssnitt skrivet med Plasma-ramverket
Comment[x-test]=xxA mediacenter user interface written with the Plasma frameworkxx
TryExec=plasmashell
Exec=plasmashell -ap org.kde.plasma.mediacenter
Terminal=false
Icon=plasma-media-center
Type=Application
X-DBUS-StartupType=Unique
Categories=Qt;KDE;AudioVideo;
InitialPreference=1
