[Desktop Entry]
Name=MediaController
Name[es]=MediaController
Name[et]=Meediakontroller
Name[fr]=MediaController
Name[hr]=MultiMedijaUpravitelj
Name[pt]=Controlador Multimédia
Name[sv]=Mediahanterare
Name[tr]=Ortam Denetleyici
Name[uk]=Контейнер мультимедіа
Name[x-test]=xxMediaControllerxx
Comment=A simple applet to control media reproduction
Comment[es]=Miniaplicación para controlar la reproducción de medios
Comment[et]=Lihtne aplett meedia taasesitamise juhtimiseks
Comment[fr]=Une simple applet pour le contrôle de la reproduciton de médias
Comment[hr]=Jednostavni programčić za upravljanje izvođenjem multimedijalnih datoteka
Comment[pt]=Uma 'applet' simples para controlar a reprodução multimédia
Comment[sv]=Ett enkelt miniprogram för att hantera mediareproduktion
Comment[uk]=Простий аплет, призначений для спостереження за відтворенням мультимедіа
Comment[x-test]=xxA simple applet to control media reproductionxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mediacontroller
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=mediacontroller
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
