[Desktop Entry]
Name=MediaController
Name[pt]=Controlador Multimédia
Name[pt_BR]=Controlador Multimédia
Name[sv]=Mediahanterare
Name[uk]=Контейнер мультимедіа
Comment=A simple applet to control media reproduction
Comment[pt]=Uma 'applet' simples para controlar a reprodução multimédia
Comment[pt_BR]=Uma 'applet' simples para controlar a reprodução multimédia
Comment[sv]=Ett enkelt miniprogram för att hantera mediareproduktion
Comment[uk]=Простий аплет, призначений для спостереження за відтворенням мультимедіа
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mediacontroller
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=mediacontroller
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
