[Desktop Entry]
Name=Media Controller (QML)
Name[es]=Controlador multimedia (QML)
Name[et]=Meediakontroller (QML)
Name[fr]=Contrôleur multimédia (QML)
Name[nl]=Mediacontroller (QML)
Name[pl]=Sterowanie mediami (QML)
Name[pt]=Controlador Multimédia (QML)
Name[pt_BR]=Controlador Multimídia (QML)
Name[sv]=Mediahanterare (QML)
Name[uk]=Керування мультимедійними засобами (QML)
Name[x-test]=xxMedia Controller (QML)xx
Comment=A simple applet to control media reproduction
Comment[es]=Una sencilla miniaplicación para controlar la reproducción multimedia
Comment[et]=Lihtne aplett meedia taasesitamise juhtimiseks
Comment[fr]=Une applet simple pour contrôler la reproduction multimédia
Comment[hr]=Jednostavni programčić za upravljanje izvođenjem multimedijalnih datoteka
Comment[nl]=Een eenvoudige applet voor besturing van reproductie van media
Comment[pl]=Prosty aplet do sterowania reprodukcją mediów
Comment[pt]=Uma 'applet' simples para controlar a reprodução multimédia
Comment[pt_BR]=Um miniaplicativo simples para controlar a reprodução multimídia
Comment[sv]=Ett enkelt miniprogram för att hantera mediareproduktion
Comment[uk]=Простий аплет, призначений для спостереження за відтворенням мультимедіа
Comment[x-test]=xxA simple applet to control media reproductionxx
Encoding=UTF-8
Icon=applications-multimedia
ServiceTypes=Plasma/Applet
Type=Service

X-KDE-ParentAppp=plasma-mediacenter
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.mediacontroller
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
