[Desktop Entry]
Type=Service
Name=Flickr picture provider
Name[en_GB]=Flickr picture provider
Name[km]=ក្រុមហ៊ុន​ផ្ដល់​រូបភាព Flickr
Name[pt]=Fornecedor de imagens do Flickr
Name[pt_BR]=Fornecedor de imagens Flickr
Name[sv]=Flickr-bildleverantör
Name[uk]=Служба зображень Flickr
Name[x-test]=xxFlickr picture providerxx


Comment=A plugin that allows browsing through Flickr pictures
Comment[en_GB]=A plugin that allows browsing through Flickr pictures
Comment[es]=Un complemento que le permite navegar por imágenes de Flickr
Comment[km]=កម្មវិធី​ជំនួយ​ដែល​អនុញ្ញាត​ឲ្យ​រក​តាមរយៈ​រូបភាព​របស់ Flickr
Comment[pt]=Um 'plugin' que lhe permite navegar pelas imagens do Flickr
Comment[pt_BR]=Um plug-in que lhe permite pesquisar imagens no Flickr.
Comment[sv]=Ett insticksprogram som låter dig bläddra igenom bilder på Flickr.
Comment[uk]=Додаток, за допомогою якого ви зможете переглядати зображення з Flickr
Comment[x-test]=xxA plugin that allows browsing through Flickr picturesxx


X-KDE-ServiceTypes=Plasma/MediaCenter/PictureProvider


X-KDE-PluginInfo-Author=Onur-Hayri Bakici
X-KDE-PluginInfo-Email=thehayro@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pictureprovider_flickr
X-KDE-PictureProvider-Name=flickr
