[Desktop Entry]
Type=Service
Name=Flickr picture provider
Name[pt]=Fornecedor de imagens do Flickr
Name[sv]=Flickr-bildleverantör
Name[uk]=Служба зображень Flickr


Comment=A plugin that allows browsing through Flickr pictures
Comment[es]=Un complemento que le permite navegar por imágenes de Flickr
Comment[pt]=Um 'plugin' que lhe permite navegar pelas imagens do Flickr
Comment[sv]=Ett insticksprogram som låter dig bläddra igenom bilder på Flickr.
Comment[uk]=Додаток, за допомогою якого ви зможете переглядати зображення з Flickr


X-KDE-ServiceTypes=Plasma/MediaCenter/PictureProvider


X-KDE-PluginInfo-Author=Onur-Hayri Bakici
X-KDE-PluginInfo-Email=thehayro@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pictureprovider_flickr
X-KDE-PictureProvider-Name=flickr
