[Desktop Entry]
Name=Playlist Engine
Name[es]=Motor de lista de reproducción
Name[et]=Esitusnimekirja mootor
Name[fr]=Moteur de listes de lecture
Name[hr]=Podrška za Playlist
Name[ja]=プレイリストエンジン
Name[nl]=Engine voor afspeellijst
Name[pt]=Motor da Lista de Reprodução
Name[pt_BR]=Mecanismo da lista de reprodução
Name[sv]=Spellistegränssnitt
Name[uk]=Рушій списків відтворення
Name[x-test]=xxPlaylist Enginexx
Comment=A playlist engine useful for Media Center components.
Comment[et]=Esitusnimekirja mootor meediakeskuse komponentidele.
Comment[fr]=Un moteur de listes de lecture utile pour les composants du centre multimédia.
Comment[hr]=Podrška za playliste korisna kod komponenti Media Centra.
Comment[nl]=Een engine voor afspeellijsten bruikbaar voor componenten in mediacentrum.
Comment[pt]=Um motor de listas de reprodução, útil para componentes de Centros Multimédia.
Comment[pt_BR]=Um mecanismo de listas de reprodução, útil para componentes de Centros Multimídia.
Comment[sv]=Ett spellistegränssnitt användbart för komponenter i mediacenter.
Comment[uk]=Рушій списків відтворення, корисний для компонентів мультимедійного центру.
Comment[x-test]=xxA playlist engine useful for Media Center components.xx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_playlist
X-Plasma-EngineName=playlist
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=playlist
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
