[Desktop Entry]
Name=Plasma Media Center
Name[da]=Plasma Mediecenter
Name[et]=Plasma meediakeskus
Name[fi]=Plasma-mediakeskus
Name[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
Name[nl]=Plasma mediacentrum
Name[pl]=Centrum multimedialne plazmy
Name[pt]=Centro Multimédia do Plasma
Name[pt_BR]=Plasma Media Center
Name[sv]=Plasma Media Center
Name[uk]=Медіацентр Плазми
Name[x-test]=xxPlasma Media Centerxx
Comment=Plasma Media Center
Comment[da]=Plasma Mediecenter
Comment[et]=Plasma meediakeskus
Comment[fi]=Plasma-mediakeskus
Comment[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
Comment[nl]=Plasma mediacentrum
Comment[pl]=Centrum multimedialne plazmy
Comment[pt]=Centro Multimédia do Plasma
Comment[pt_BR]=Plasma Media Center
Comment[sv]=Plasma Media Center
Comment[uk]=Медіацентр Плазми
Comment[x-test]=xxPlasma Media Centerxx
Encoding=UTF-8
Type=Service
Icon=plasma
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shaan7in@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.mediacenter
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/mediacenter.qml
