[Desktop Entry]
Name=Plasma Media Center
Name[ca]=Centre multimèdia de Plasma
Name[ca@valencia]=Centre multimèdia de Plasma
Name[da]=Plasma Mediecenter
Name[de]=Plasma-Mediencenter
Name[es]=Centro Multimedia de Plasma
Name[et]=Plasma meediakeskus
Name[fi]=Plasma-mediakeskus
Name[fr]=Centre multimédia pour Plasma
Name[hu]=Plasma médiaközpont
Name[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
Name[mr]=प्लाज्मा मीडिया सेंटर
Name[nl]=Plasma mediacentrum
Name[pl]=Centrum multimedialne plazmy
Name[pt]=Centro Multimédia do Plasma
Name[pt_BR]=Plasma Media Center
Name[sk]=Plasma Media Center
Name[sv]=Plasma Media Center
Name[tr]=Plasma Ortam Merkezi
Name[uk]=Медіацентр Плазми
Name[x-test]=xxPlasma Media Centerxx
Comment=Plasma Media Center
Comment[ca]=Centre multimèdia de Plasma
Comment[ca@valencia]=Centre multimèdia de Plasma
Comment[da]=Plasma Mediecenter
Comment[de]=Plasma-Mediencenter
Comment[es]=Centro multimedia de Plasma
Comment[et]=Plasma meediakeskus
Comment[fi]=Plasma-mediakeskus
Comment[fr]=Centre multimédia pour Plasma
Comment[hu]=Plasma médiaközpont
Comment[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
Comment[mr]=प्लाज्मा मीडिया सेंटर
Comment[nl]=Plasma mediacentrum
Comment[pl]=Centrum multimedialne plazmy
Comment[pt]=Centro Multimédia do Plasma
Comment[pt_BR]=Plasma Media Center
Comment[sk]=Plasma Media Center
Comment[sv]=Plasma Media Center
Comment[tr]=Plasma Ortam Merkezi
Comment[uk]=Медіацентр Плазми
Comment[x-test]=xxPlasma Media Centerxx
Encoding=UTF-8
Type=Service
Icon=applications-multimedia
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.mediacenter
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/mediacenter.qml
