[Desktop Entry]
Name=Plasma Media Center
Name[bs]=Plasma Media Center
Name[ca]=Centre multimèdia del Plasma
Name[ca@valencia]=Centre multimèdia del Plasma
Name[cs]=Multimediální centrum Plasma
Name[da]=Plasma Mediecenter
Name[de]=Plasma-Mediencenter
Name[el]=Plasma Media Center
Name[en_GB]=Plasma Media Centre
Name[es]=Plasma Media Center
Name[et]=Plasma meediakeskus
Name[fi]=Plasma-mediakeskus
Name[fr]=Centre multimédia pour Plasma
Name[gl]=Centro Multimedia de Plasma
Name[hu]=Plasma médiaközpont
Name[it]=Plasma Media Center
Name[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
Name[lv]=Plasma multivides centrs
Name[mr]=प्लाज्मा मीडिया सेंटर
Name[nl]=Plasma mediacentrum
Name[pl]=Centrum multimedialne plazmy
Name[pt]=Centro Multimédia do Plasma
Name[pt_BR]=Plasma Media Center
Name[sk]=Plasma Media Center
Name[sl]=Predstavnostno središče Plasma
Name[sv]=Plasma Media Center
Name[tr]=Plasma Ortam Merkezi
Name[ug]=پلازما ۋاسىتە مەركىزى
Name[uk]=Медіацентр Плазми
Name[x-test]=xxPlasma Media Centerxx
Name[zh_TW]=Plasma 媒體中心
Comment=Plasma Media Center
Comment[bs]=Plasma Media Center
Comment[ca]=Centre multimèdia del Plasma
Comment[ca@valencia]=Centre multimèdia del Plasma
Comment[cs]=Multimediální centrum Plasma
Comment[da]=Plasma Mediecenter
Comment[de]=Plasma-Mediencenter
Comment[el]=Plasma Media Center
Comment[en_GB]=Plasma Media Centre
Comment[es]=Centro de medios de Plasma
Comment[et]=Plasma meediakeskus
Comment[fi]=Plasma-mediakeskus
Comment[fr]=Centre multimédia pour Plasma
Comment[gl]=Centro Multimedia de Plasma
Comment[hu]=Plasma médiaközpont
Comment[it]=Plasma Media Center
Comment[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
Comment[lv]=Plasma multivides centrs
Comment[mr]=प्लाज्मा मीडिया सेंटर
Comment[nl]=Plasma mediacentrum
Comment[pl]=Centrum multimedialne plazmy
Comment[pt]=Centro Multimédia do Plasma
Comment[pt_BR]=Plasma Media Center
Comment[sk]=Plasma Media Center
Comment[sl]=Predstavnostno središče Plasma
Comment[sv]=Plasma Media Center
Comment[tr]=Plasma Ortam Merkezi
Comment[ug]=پلازما ۋاسىتە مەركىزى
Comment[uk]=Медіацентр Плазми
Comment[x-test]=xxPlasma Media Centerxx
Comment[zh_TW]=Plasma 媒體中心
Encoding=UTF-8
Type=Service
Icon=applications-multimedia
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.mediacenter
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/mediacenter.qml
