[Desktop Entry]
Name=Media InfoBar (QML)
Comment=A simple applet to display media information
Comment[et]=Lihtne aplett meediateabe näitamiseks
Comment[fr]=Une applet simple pour afficher des informations sur un média
Comment[nl]=Een eenvoudige applet om media-information te tonen
Comment[pt]=Uma 'applet' simples para mostrar informações multimédia
Comment[pt_BR]=Um miniaplicativo simples para mostrar informações multimídia
Comment[sv]=Ett enkelt miniprogram för att visa mediainformation
Comment[uk]=Простий аплет, призначений для показу параметрів мультимедійних даних
Comment[x-test]=xxA simple applet to display media informationxx
Encoding=UTF-8
Icon=applications-multimedia
ServiceTypes=Plasma/Applet
Type=Service

X-KDE-ParentAppp=plasma-mediacenter
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.mediainfobar
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
