[Desktop Entry]
Name=Flickr Engine
Name[de]=Flickr-Modul
Name[es]=Motor Flickr
Name[et]=Flickri mootor
Name[fr]=Moteur Flickr
Name[ja]=Flickr エンジン
Name[nl]=Flickr-engine
Name[pl]=Silnik Flickr
Name[pt]=Motor do Flickr
Name[pt_BR]=Mecanismo do Flickr
Name[sv]=Flickr-gränssnitt
Name[uk]=Рушій Flickr
Name[x-test]=xxFlickr Enginexx

Comment=An engine that allows you to query Flickr.
Comment[es]=Un motor que le permite consultar Flickr.
Comment[et]=Mootor Flickrile päringute esitamiseks.
Comment[fr]=Un moteur permettant de consulter Flickr.
Comment[nl]=Een engine die u in staat stelt om te zoeken in Flickr.
Comment[pl]=Silnik pozwalający tobie odpytać Flickr.
Comment[pt]=Um motor que lhe permite efectuar consultas no Flickr.
Comment[pt_BR]=Um mecanismo que lhe permite efetuar consultas no Flickr.
Comment[sv]=Ett gränssnitt som låter dig söka på Flickr.
Comment[uk]=Рушій, який надасть вам змогу надсилати запити до Flickr.
Comment[x-test]=xxAn engine that allows you to query Flickr.xx

Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_flickr
X-Plasma-EngineName=flickr
X-KDE-PluginInfo-Author=Onur-Hayri Bakici
X-KDE-PluginInfo-Email=thehayro@gmail.com
X-KDE-PluginInfo-Name=flickr
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
