[Desktop Entry]
Name=Playlist
Name[et]=Esitusnimekiri
Name[pt]=Lista de Reprodução
Name[pt_BR]=Lista de Reprodução
Name[sv]=Spellista
Name[uk]=Список відтворення
Comment=Plasma Playlist Applet
Comment[et]=Plasma esitusnimekirja aplett
Comment[pt]='Applet' de Lista de Reprodução do Plasma
Comment[pt_BR]='Applet' de Lista de Reprodução do Plasma
Comment[sv]=Plasma miniprogram med spellista
Comment[uk]=Аплет списку відтворення Плазми
Type=Service
Icon=view-media-playlist

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_playlist
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=playlist
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
