[Desktop Entry]
Name=Playlist
Name[de]=Wiedergabeliste
Name[et]=Esitusnimekiri
Name[fr]=Liste de lecture
Name[is]=Lagalisti
Name[km]=បញ្ជី​ចាក់
Name[pt]=Lista de Reprodução
Name[pt_BR]=Lista de Reprodução
Name[sv]=Spellista
Name[tr]=Parça listesi
Name[uk]=Список відтворення
Name[x-test]=xxPlaylistxx
Comment=Plasma Playlist Applet
Comment[et]=Plasma esitusnimekirja aplett
Comment[fr]=Applet Plasma de liste de lecture
Comment[hr]=Plasma Playlist Programčić
Comment[km]=អាប់ភ្លេត​បញ្ជីចាក់ប្លាស្មា
Comment[pt]='Applet' de Lista de Reprodução do Plasma
Comment[pt_BR]='Applet' de Lista de Reprodução do Plasma
Comment[sv]=Plasma miniprogram med spellista
Comment[tr]=Plasma Parça Listesi Programcığı
Comment[uk]=Аплет списку відтворення Плазми
Comment[x-test]=xxPlasma Playlist Appletxx
Type=Service
Icon=view-media-playlist

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_playlist
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=playlist
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
