[Desktop Entry]
Type=Service
Icon=folder-sound
Name=Browse music
Name[ca]=Explora la música
Name[ca@valencia]=Explora la música
Name[cs]=Procházet hudbu
Name[da]=Gennemse musik
Name[de]=Musik durchsuchen
Name[es]=Examinar música
Name[et]=Muusika sirvimine
Name[fi]=Selaa musiikkia
Name[fr]=Navigation dans la musique
Name[hu]=Zene tallózása
Name[km]=រក​មើល​តន្ត្រី
Name[nl]=Door muziek bladeren
Name[pl]=Przeglądaj muzykę
Name[pt]=Navegar pela música
Name[pt_BR]=Navegar pela música
Name[sk]=Prehľadávať hudbu
Name[sv]=Bläddra i musik
Name[uk]=Навігація музикою
Name[x-test]=xxBrowse musicxx

Comment=Browse your device for music
Comment[ca]=Cerca al dispositiu per a la música
Comment[ca@valencia]=Cerca al dispositiu per a la música
Comment[cs]=Vyhledat hudbu na zařízení
Comment[da]=Gennemse din enhed for musik
Comment[de]=Durchsuchen Sie Ihr Gerät nach Musik
Comment[es]=Examinar su dispositivo para buscar música
Comment[et]=Seadme sirvimine muusika leidmiseks
Comment[nl]=Door uw apparaat bladeren naar muziek
Comment[pt]=Navegar pela música do seu dispositivo
Comment[pt_BR]=Navega pelas músicas do seu dispositivo
Comment[sk]=Prehľadať hudbu na vašom zariadení
Comment[sv]=Bläddra på en enhet efter musik
Comment[uk]=Переглянути записи музики на вашому пристрої
Comment[x-test]=xxBrowse your device for musicxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=audio
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localmusic
