[Desktop Entry]
Type=Service
Icon=folder-sound
Name=Browse music
Name[cs]=Procházet hudbu
Name[da]=Gennemse musik
Name[es]=Examinar música
Name[nl]=Door muziek bladeren
Name[pt]=Navegar pela música
Name[pt_BR]=Navegar pelas músicas
Name[sk]=Prehľadávať hudbu
Name[sv]=Bläddra i musik
Name[uk]=Навігація музикою

Comment=Browse your device for music
Comment[cs]=Vyhledat hudbu na zařízení
Comment[da]=Gennemse din enhed for musik
Comment[es]=Examinar su dispositivo por música
Comment[nl]=Door uw apparaat bladeren naar muziek
Comment[pt]=Navegar pela música do seu dispositivo
Comment[pt_BR]=Navega pelas músicas do seu dispositivo
Comment[sk]=Prehľadávať hudbu vo vašom zariadení
Comment[sv]=Bläddra på en enhet efter musik
Comment[uk]=Переглянути записи музики на вашому пристрої

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=audio
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localmusic
