[Desktop Entry]
Type=Service
Icon=folder-sound
Name=Browse music
Name[ca]=Explora la música
Name[ca@valencia]=Explora la música
Name[cs]=Procházet hudbu
Name[da]=Gennemse musik
Name[de]=Musik durchsuchen
Name[es]=Examinar música
Name[et]=Muusika sirvimine
Name[fi]=Selaa musiikkia
Name[fr]=Naviguer dans des dossiers de musique
Name[hu]=Zene tallózása
Name[it]=Sfoglia musica
Name[km]=រក​មើល​តន្ត្រី
Name[nl]=Door muziek bladeren
Name[pl]=Przeglądaj muzykę
Name[pt]=Navegar pela música
Name[pt_BR]=Navegar pelas músicas
Name[sk]=Prehľadávať hudbu
Name[sl]=Brskanje po glasbi
Name[sv]=Bläddra i musik
Name[tr]=Müziğe gözat
Name[uk]=Навігація музикою
Name[x-test]=xxBrowse musicxx
Name[zh_TW]=瀏覽音樂

Comment=Browse folders on your device for music
Comment[da]=Gennemse mapper på din enhed for musik
Comment[es]=Examinar carpetas en su dispositivo por música
Comment[fr]=Navigue dans des dossiers de musique sur votre périphérique
Comment[it]=Sfoglia le cartelle sul tuo dispositivo alla ricerca di musica
Comment[nl]=Door uw mappen op uw apparaat bladeren naar muziek
Comment[pt]=Navegar pelas pastas de música do seu dispositivo
Comment[pt_BR]=Navega pelas pastas do seu dispositivo a procura de músicas
Comment[sl]=Prebrskajte mape na vaši napravi za glasbo
Comment[sv]=Bläddra i kataloger på en enhet efter musik
Comment[uk]=Переглянути теки з музикою на вашому пристрої
Comment[x-test]=xxBrowse folders on your device for musicxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=audio
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localmusic
