[Desktop Entry]
Name=Media Player (QML)
Name[da]=Medieafspiller (QML)
Name[es]=Reproductor multimedia (QML)
Name[et]=Meediamängija (QML)
Name[fr]=Lecteur multimédia (QML)
Name[nl]=Mediaspeler (QML)
Name[pl]=Odtwarzacz multimedialny (QML)
Name[pt]=Controlador Multimédia (QML)
Name[pt_BR]=Reprodutor de mídia (QML)
Name[sv]=Mediaspelare (QML)
Name[uk]=Програвач (QML)
Name[x-test]=xxMedia Player (QML)xx
Comment=Playing applet for Plasma Media Center
Comment[es]=Miniaplicación de reproducción para el Centro Multimedia de Plasma
Comment[et]=Plasma meediakeskuse esitamisaplett
Comment[fr]=Applet de lecture pour le centre multimédia
Comment[nl]=Het afspeelapplet voor het Plasma-mediacentrum.
Comment[pl]=Aplet odtwarzający dla centrum multimedialnego plazmy
Comment[pt]=Uma 'applet' de reprodução para o Centro Multimédia do Plasma
Comment[pt_BR]=Um miniaplicativo de reprodução para o Centro Multimídia do Plasma
Comment[sv]=Spelarminiprogram för Plasma Media Center
Comment[uk]=Аплет програвача для медіацентру Плазми.
Comment[x-test]=xxPlaying applet for Plasma Media Centerxx
Encoding=UTF-8
Icon=applications-multimedia
ServiceTypes=Plasma/Applet
Type=Service

X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.mediaplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
