[Desktop Entry]
Name=Media Player (QML)
Name[nl]=Mediaspeler (QML)
Name[pt]=Controlador Multimédia (QML)
Name[sv]=Mediaspelare (QML)
Name[x-test]=xxMedia Player (QML)xx
Comment=Playing applet for Plasma Media Center
Comment[nl]=Het afspeelapplet voor het Plasma-mediacentrum.
Comment[pt]=Uma 'applet' de reprodução para o Centro Multimédia do Plasma
Comment[sv]=Spelarminiprogram för Plasma Media Center
Comment[x-test]=xxPlaying applet for Plasma Media Centerxx
Encoding=UTF-8
Icon=applications-multimedia
ServiceTypes=Plasma/Applet
Type=Service

X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.mediaplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
