[Desktop Entry]
Type=Service
Icon=folder-sound
Name=Local music
Name[da]=Lokal musik
Name[de]=Lokale Musik
Name[es]=Música local
Name[et]=Kohalik muusika
Name[fr]=Musique locale
Name[km]= 
Name[nb]=Lokal fil
Name[nds]=Lokaal Musik
Name[nl]=Lokale muziek
Name[pl]=Muzyka lokalna
Name[pt]=Música local
Name[pt_BR]=Música local
Name[sv]=Lokal musik
Name[uk]=Локальна музика
Name[x-test]=xxLocal musicxx
Comment=A plugin for the mediabrowser applet that allows local music browsing
Comment[da]=Et plugin til mediebrowser-appletten som muliggør at gennemse lokal musik
Comment[et]=Meediasirvija plugin kohaliku muusika sirvimiseks
Comment[fr]=Un module externe pour l'applet du navigateur multimédia permettant la navigation dans la musique locale
Comment[nl]=Een plugin voor de mediabrowser-applet die bladeren door lokale muziek mogelijk maakt
Comment[pl]=Wtyczka dla apletu przeglądarki mediów, która pozwala na przeglądanie muzyki lokalnej
Comment[pt]=Um 'plugin' para a 'applet' de leitura multimédia, que permite a navegação pela música local
Comment[pt_BR]=Um plug-in para o miniaplicativo leitor multimídia, que permite a navegação nas músicas locais
Comment[sv]=Ett insticksprogram för miniprogrammet Mediabläddrare som tillåter bläddring i lokal musik
Comment[uk]=Додаток до аплету переглядача носіїв, який надає змогу прослуховувати локальні музичні файли
Comment[x-test]=xxA plugin for the mediabrowser applet that allows local music browsingxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localmusic
