[Desktop Entry]
Type=Service
Icon=folder-sound
Name=Local Music browsing plugin
Name[en_GB]=Local Music browsing plugin
Name[pt]='Plugin' de Navegação na Música Local
Name[pt_BR]=Plug-in de navegação na música local
Name[sv]=Insticksprogram för bläddring i lokal musik
Name[uk]=Додаток для прослуховування локальної музики
Name[x-test]=xxLocal Music browsing pluginxx
Comment=A plugin for the mediabrowser applet that allows local music browsing
Comment[en_GB]=A plugin for the mediabrowser applet that allows local music browsing
Comment[pt]=Um 'plugin' para a 'applet' de leitura multimédia, que permite a navegação pela música local
Comment[pt_BR]=Um plugi-n para o miniaplicativo leitor multimídia, que permite a navegação nas músicas locais
Comment[sv]=Ett insticksprogram för miniprogrammet Mediabläddrare som tillåter bläddring i lokal musik
Comment[uk]=Додаток до аплету переглядача носіїв, який надає змогу прослуховувати локальні музичні файли
Comment[x-test]=xxA plugin for the mediabrowser applet that allows local music browsingxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localmusic
