[Desktop Entry]
Name=Youtube
Name[de]=YouTube
Name[es]=YouTube
Name[et]=Youtube
Name[fr]=Youtube
Name[ja]=Youtube
Name[nds]=Youtube
Name[nl]=Youtube
Name[pl]=Youtube
Name[pt]=Youtube
Name[pt_BR]=Youtube
Name[sv]=Youtube
Name[uk]=Youtube
Name[x-test]=xxYoutubexx

Comment=An engine that allows you to query web services for media.
Comment[et]=Mootor veebiteenustele meedia kohta päringute esitamiseks.
Comment[fr]=Un moteur permettant de consulter des média sur les services web.
Comment[nl]=Een engine die u in staat stelt om media op te zoeken in webservices.
Comment[pl]=Silnik pozwalający tobie na odpytanie usług sieciowych o multimedia.
Comment[pt]=Um motor que lhe permite pesquisar conteúdos multimédia em vários serviços na Web.
Comment[pt_BR]=Um mecanismo que lhe permite pesquisar conteúdos multimídia em vários serviços na Web.
Comment[sv]=Ett gränssnitt som låter dig söka efter media på webbtjänster.
Comment[uk]=Рушій, який надасть вам змогу звантажувати мультимедійні дані зі служб у мережі.
Comment[x-test]=xxAn engine that allows you to query web services for media.xx

X-KDE-ServiceTypes=Plasma/JavascriptAddon
Type=Service
X-Plasma-API=javascript

X-KDE-Library=plasma_engine_webmedia
X-KDE-PluginInfo-Author=Onur-Hayri Bakici
X-KDE-PluginInfo-Email=thehayro@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.dataengine.webmedia.youtube
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=org.kde.plasma.dataengine.webmedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
