[Desktop Entry]
Type=Service
Icon=folder-video
Name=Video Metadata
Name[nl]=Metadata van video's
Name[pl]=Metadane filmu
Name[pt]=Meta-Dados do Vídeo
Name[pt_BR]=Metadados do vídeo
Name[sv]=Videometadata
Name[uk]=Метадані відео
Name[x-test]=xxVideo Metadataxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatavideobackend
