[Desktop Entry]
Type=Service
Icon=tools-rip-video-cd
Name=All videos
Name[ca]=Tots els vídeos
Name[ca@valencia]=Tots els vídeos
Name[cs]=Všechna videa
Name[da]=Alle videoer
Name[de]=Alle Videos
Name[es]=Todos los vídeos
Name[et]=Kõik videod
Name[fi]=Kaikki videot
Name[fr]=Toutes les vidéos
Name[hu]=Minden videó
Name[nl]=Alle video's
Name[pt]=Todos os vídeos
Name[pt_BR]=Todos os vídeos
Name[sk]=Všetky videá
Name[sv]=Alla videor
Name[uk]=Всі відео
Name[x-test]=xxAll videosxx
Comment=Watch the videos on your device
Comment[ca]=Mostra els vídeos en el dispositiu
Comment[ca@valencia]=Mostra els vídeos en el dispositiu
Comment[da]=Se videoerne på din enhed
Comment[de]=Betrachten Sie Videos auf Ihrem Gerät
Comment[es]=Ver los vídeos de su dispositivo
Comment[et]=Seadmel leiduvate videode vaatamine
Comment[fr]=Regardez les vidéos sur votre périphérique
Comment[pt]=Ver os vídeos no seu dispositivo
Comment[pt_BR]=Assistir os vídeos no seu dispositivo
Comment[sk]=Pozerať videá na vašom zariadení
Comment[sv]=Titta på videorna på en enhet
Comment[uk]=Переглянути відено з вашого пристрою
Comment[x-test]=xxWatch the videos on your devicexx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=video
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatavideobackend
