[Desktop Entry]
Type=Service
Icon=tools-rip-video-cd
Name=All videos
Name[cs]=Všechna videa
Name[da]=Alle videoer
Name[es]=Todos los videos
Name[nl]=Alle video's
Name[pt]=Todos os vídeos
Name[pt_BR]=Todos os vídeos
Name[sk]=Všetky videá
Name[sv]=Alla videor
Name[uk]=Всі відео
Comment=Watch the videos on your device
Comment[cs]=Dívejte se na videa na vašem zařízení
Comment[da]=Se videoerne på din enhed
Comment[es]=Ver videos en su dispositivo
Comment[nl]=Bekijk de video's op uw apparaat
Comment[pt]=Ver os vídeos no seu dispositivo
Comment[pt_BR]=Assista aos vídeos no seu dispositivo
Comment[sk]=Pozerať videá vo vašom zariadení
Comment[sv]=Titta på videorna på en enhet
Comment[uk]=Переглянути відено з вашого пристрою

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=video
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatavideobackend
