[Desktop Entry]
Type=Service
Icon=image-x-generic
Name=Events and Trips
Name[ca]=Esdeveniments i viatges
Name[en_GB]=Events and Trips
Name[es]=Eventos y viajes
Name[fi]=Tapahtumat ja matkat
Name[hu]=Események és utazások
Name[it]=Eventi e viaggi
Name[nl]=Afspraken en reisjes
Name[pl]=Wydarzenia i podróże
Name[pt]=Eventos e Viagens
Name[pt_BR]=Eventos e Viagens
Name[sk]=Udalosti a výlety
Name[sl]=Dogodki in potovanja
Name[sv]=Händelser och resor
Name[uk]=Події і подорожі
Name[x-test]=xxEvents and Tripsxx
Comment=Organize your photos for events and trips you have taken
Comment[ca]=Organitza les fotografies que heu pres dels esdeveniments i viatges
Comment[en_GB]=Organise your photos for events and trips you have taken
Comment[es]=Organizar las fotos de eventos y viajes que ha capturado
Comment[fi]=Järjestä tapahtumissa ja matkoilla ottamasi kuvat
Comment[hu]=Az eseményeken és utazásokon készített fényképeinek rendezése
Comment[it]=Organizza le fotografie degli eventi o dei viaggi ai quali hai partecipato
Comment[nl]=Uw foto's voor gebeurtenissen en reisjes die u hebt gemaakt organiseren
Comment[pl]=Urządź swoje zdjęcia według wydarzeń i podróży, które odbyłeś
Comment[pt]=Organizar as suas fotografias pelos eventos e viagens onde tenha participado
Comment[pt_BR]=Organize suas fotos por eventos e viagens que realizou
Comment[sk]=Organizovať vaše fotky pre udalosti a výlety, ktoré ste urobili
Comment[sl]=Organizirajte vaše fotografije dogodkov in potovanj
Comment[sv]=Organisera dina bilder av händelser och resor som du har gjort
Comment[uk]=Упорядкування фотографій, які було зроблено під час певних подій або подорожей
Comment[x-test]=xxOrganize your photos for events and trips you have takenxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_eventsbackend
