[Desktop Entry]
Type=Service
Icon=view-fullscreen
Name=Fullscreen
Name[nl]=Volledig scherm
Name[pt]=Ecrã completo
Name[pt_BR]=Tela cheia
Name[sk]=Celá obrazovka
Name[sv]=Fullskärmsläge
Name[uk]=На весь екран
Name[x-test]=xxFullscreenxx
Comment=Toggle fullscreen mode
Comment[pt]=Comutar o modo de ecrã completo
Comment[pt_BR]=Alterna o modo de tela cheia
Comment[uk]=Увімкнути або вимкнути повноекранний режим
Comment[x-test]=xxToggle fullscreen modexx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=settings
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_fullscreen
