[Desktop Entry]
Type=Service
Icon=view-fullscreen
Name=Fullscreen
Name[cs]=Celá obrazovka
Name[da]=Fuldskærm
Name[es]=Pantalla completa
Name[nl]=Volledig scherm
Name[pt]=Ecrã completo
Name[pt_BR]=Tela inteira
Name[sk]=Celá obrazovka
Name[sv]=Fullskärmsläge
Name[uk]=На весь екран
Comment=Toggle fullscreen mode
Comment[cs]=Přepnout do celoobrazovkového režimu
Comment[da]=Slå fuldskærmstilstand til/fra
Comment[es]=Cambiar a modo de pantalla completa
Comment[nl]=Volledig scherm omschakelen
Comment[pt]=Comutar o modo de ecrã completo
Comment[pt_BR]=Alterna para o modo de tela cheia
Comment[sk]=Prepnúť režim na celú obrazovku
Comment[sv]=Växla fullskärmsläge
Comment[uk]=Увімкнути або вимкнути повноекранний режим

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=settings
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_fullscreen
