[Desktop Entry]
Name=Media Center Player
Name[es]=Centro de reproducción multimedia
Name[et]=Meediakeskuse mängija
Name[fr]=Lecteur du centre multimédia
Name[hr]=Media Center Player
Name[ja]=メディアセンタープレーヤー
Name[nl]=Speler voor het mediacentrum
Name[pl]=Odtwarzacz centrum multimedialnego
Name[pt]=Reprodutor Multimédia
Name[pt_BR]=Reprodutor multimídia
Name[sv]=Spelare för Media Center
Name[uk]=Програвач медіацентру
Name[x-test]=xxMedia Center Playerxx
Comment=The playing applet for the Media Center.
Comment[et]=Meediakeskuse esitamisaplett
Comment[fr]=L'applet de lecture pour le centre multimédia.
Comment[hr]=Programčić za sviranje za Media Center.
Comment[nl]=Het afspeelapplet voor het mediacentrum.
Comment[pl]=Odtwarzający aplet dla centrum multimedialnego.
Comment[pt]=Uma 'applet' de reprodução para Centros Multimédia.
Comment[pt_BR]=Um miniaplicativo de reprodução para Centros Multimídia.
Comment[sv]=Spelarminiprogrammet för Media Center.
Comment[uk]=Аплет відтворення для медіацентру.
Comment[x-test]=xxThe playing applet for the Media Center.xx


Type=Service
Icon=applications-multimedia
X-Plasma-DropMimeTypes=video/mpeg,video/quicktime,video/ogg,video/x-msvideo, audio/mpeg, audio/x-vorbis+ogg, audio/x-flac

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mcplayer
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=mcplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Required
X-Plasma-Requires-LaunchApp=Unused
