[Desktop Entry]
Name=MediaCenterControl
Name[et]=Meediakeskuse juhtimine
Name[nl]=Mediacentrumbesturing
Name[pt]=Controlo do Centro Multimédia
Name[pt_BR]=Controle do Centro Multimídia
Name[sv]=Kontroll av Media Center
Name[uk]=Керування медіацентру
Name[x-test]=xxMediaCenterControlxx
Comment= controlling the MediaCenter
Comment[et]= juhib meediakeskust
Comment[nl]= het mediacentrum besturen
Comment[pt]=Para controlar o Centro Multimédia.
Comment[pt_BR]= controlar o Centro Multimídia
Comment[sv]=Kontroll av Media Center
Comment[uk]=Керування медіацентром
Comment[x-test]=xx controlling the MediaCenterxx
Type=Service
Icon=applications-multimedia
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_mediacentercontrol

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Name=org.kde.mediacentercontrol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
