[Desktop Entry]
Name=Plasma Media Center
Name[cs]=Multimediální centrum Plasma
Name[da]=Plasma Mediecenter
Name[es]=Plasma Media Center
Name[nl]=Plasma mediacentrum
Name[pt]=Centro Multimédia do Plasma
Name[pt_BR]=Plasma Media Center
Name[sk]=Plasma Media Center
Name[sv]=Plasma Media Center
Name[uk]=Медіацентр Плазми
GenericName=Plasma Media Center
GenericName[cs]=Multimediální centrum Plasma
GenericName[da]=Plasma Mediecenter
GenericName[es]=Plasma Media Center
GenericName[nl]=Plasma mediacentrum
GenericName[pt]=Centro Multimédia do Plasma
GenericName[pt_BR]=Plasma Media Center
GenericName[sk]=Plasma Media Center
GenericName[sv]=Plasma Media Center
GenericName[uk]=Медіацентр Плазми
Comment=A mediacenter user interface written with the Plasma framework
Comment[cs]=Uživatelské rozhraní multimediálního centra napsané pomocí Plasmy
Comment[da]=En mediecenter-brugerflade skrevet med Plasma-frameworket
Comment[es]=Una interfaz de usuario de centros de medios escrita para la infraestructura Plasma
Comment[nl]=Een gebruikersinterface voor een mediacentrum geschreven met het Plasma raamwerk
Comment[pt]=Uma interface de centro multimédia criada com a plataforma do Plasma
Comment[pt_BR]=Uma interface de central multimídia criada com a plataforma Plasma
Comment[sk]=Používateľské rozhranie mediálneho centra napísané pomocou frameworku Plasma
Comment[sv]=Ett mediacenter-användargränssnitt skrivet med Plasma-ramverket
Comment[uk]=Інтерфейс користувача медіацентру створено за допомогою бібліотек Плазми
Exec=plasma-mediacenter -graphicssystem raster %u
Terminal=false
Icon=applications-multimedia
Type=Application
Categories=Qt;KDE;AudioVideo;
MimeType=video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;video/x-flv;video/vnd.rn-realvideo;video/mp4;video/mp4v-es;video/mp2t;application/ogg;application/x-ogg;video/x-ogm+ogg;audio/x-vorbis+ogg;application/x-matroska;audio/x-matroska;video/x-matroska;video/webm;audio/webm;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/x-m4a;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;application/vnd.rn-realmedia;audio/x-real-audio;audio/x-pn-realaudio;application/x-flac;audio/x-flac;application/x-shockwave-flash;misc/ultravox;audio/vnd.rn-realaudio;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-pn-windows-acm;audio/x-pn-realaudio-plugin;application/x-extension-mp4;audio/mp4;audio/amr;audio/amr-wb;x-content/video-vcd;x-content/video-svcd;x-content/video-dvd;
InitialPreference=1
