[Desktop Entry]
Name=Plasma Media Center
Name[ca]=Centre multimèdia de Plasma
Name[ca@valencia]=Centre multimèdia de Plasma
Name[da]=Plasma Mediecenter
Name[de]=Plasma-Mediencenter
Name[es]=Centro Multimedia de Plasma
Name[et]=Plasma meediakeskus
Name[fi]=Plasma-mediakeskus
Name[fr]=Centre multimédia pour Plasma
Name[hu]=Plasma médiaközpont
Name[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
Name[mr]=प्लाज्मा मीडिया सेंटर
Name[nl]=Plasma mediacentrum
Name[pl]=Centrum multimedialne plazmy
Name[pt]=Centro Multimédia do Plasma
Name[pt_BR]=Plasma Media Center
Name[sk]=Plasma Media Center
Name[sv]=Plasma Media Center
Name[uk]=Медіацентр Плазми
Name[x-test]=xxPlasma Media Centerxx
GenericName=Plasma Media Center
GenericName[ca]=Centre multimèdia de Plasma
GenericName[ca@valencia]=Centre multimèdia de Plasma
GenericName[da]=Plasma Mediecenter
GenericName[de]=Plasma-Mediencenter
GenericName[es]=Centro multimedia de Plasma
GenericName[et]=Plasma meediakeskus
GenericName[fi]=Plasma-mediakeskus
GenericName[fr]=Centre multimédia pour Plasma
GenericName[hu]=Plasma médiaközpont
GenericName[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
GenericName[mr]=प्लाज्मा मीडिया सेंटर
GenericName[nl]=Plasma mediacentrum
GenericName[pl]=Centrum multimedialne plazmy
GenericName[pt]=Centro Multimédia do Plasma
GenericName[pt_BR]=Plasma Media Center
GenericName[sk]=Plasma Media Center
GenericName[sv]=Plasma Media Center
GenericName[uk]=Медіацентр Плазми
GenericName[x-test]=xxPlasma Media Centerxx
Comment=A mediacenter user interface written with the Plasma framework
Comment[ca]=Una interfície d'usuari per a centre de medis escrit amb l'entorn de treball Plasma
Comment[ca@valencia]=Una interfície d'usuari per a centre de medis escrit amb l'entorn de treball Plasma
Comment[da]=En mediecenter-brugerflade skrevet med Plasma-frameworket
Comment[es]=Interfaz para centro multimedia escrito con la infraestructura de Plasma
Comment[et]=Palsma raamistikus kirjutatud meediakeskuse kasutajaliides
Comment[fi]=Plasma-kehyksellä kirjoitettu mediakeskuskäyttöliittymä
Comment[fr]=Une interface utilisateur de centre multimédia utilisant l'infrastructure Plasma
Comment[hu]=A médiaközpont felhasználói felületét a Plasma keretrendszerrel írták
Comment[km]=ចំណុចប្រទាក់​អ្នក​ប្រើ​មជ្ឈមណ្ឌល​មេឌៀ​ដែល​បាន​សរសេរ​ដោយ​មាន​ក្របខ័ណ្ឌ​ប្លាស្មា
Comment[nl]=Een gebruikersinterface voor een mediacentrum geschreven met het Plasma raamwerk
Comment[pl]=Interfejs użytkownika centrum multimediów zostało napisane przy użyciu szkieletu Plazmy
Comment[pt]=Uma interface de centro multimédia criada com a plataforma do Plasma
Comment[pt_BR]=Uma interface de centro multimídia criada com a plataforma do Plasma
Comment[sk]=Používateľské rozhranie media centera napísané s frameworkom Plasma
Comment[sv]=Ett mediacenter-användargränssnitt skrivet med Plasma-ramverket
Comment[uk]=Інтерфейс користувача медіацентру створено за допомогою бібліотек Плазми
Comment[x-test]=xxA mediacenter user interface written with the Plasma frameworkxx
Exec=plasma-mediacenter -graphicssystem raster %u
Terminal=false
Icon=applications-multimedia
Type=Application
Categories=Qt;KDE;AudioVideo;
