[Desktop Entry]
Type=Service
Icon=drive-harddisk
Name=Filesystem Search
X-KDE-ServiceTypes=Plasma/Mediacenter/Plugins

X-KDE-PluginInfo-Name=lastfmimagefetcher
X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_lastfmimagefetcher
