[Desktop Entry]
Type=Service
Icon=drive-harddisk
Name=Filesystem Search
Name[ar]=بحث نظام الملفّات
Name[ca]=Cerca al sistema de fitxers
Name[ca@valencia]=Cerca al sistema de fitxers
Name[cs]=Prohledávání souborového systému
Name[da]=Søgning på filsystem
Name[de]=Dateisystem-Suche
Name[el]=Αναζήτηση στο σύστημα αρχείων
Name[en_GB]=Filesystem Search
Name[es]=Búsqueda del sistema de archivos
Name[et]=Failisüsteemi otsing
Name[fi]=Tiedostojärjestelmähaku
Name[fr]=Recherche dans le système de fichiers
Name[gl]=Busca no sistema de ficheiros
Name[hu]=Fájlrendszer keresés
Name[id]=Pencarian Sistem Fail
Name[it]=Ricerca nel filesystem
Name[ko]=파일 시스템 검색
Name[lt]=Failų sistemos paieška
Name[nl]=Zoeken in het bestandssysteem
Name[nn]=Filsystemsøk
Name[pl]=Wyszukiwanie w systemie plików
Name[pt]=Pesquisa no Sistema de Ficheiros
Name[pt_BR]=Pesquisa no sistema de arquivos
Name[ru]=Поиск в файловой системе
Name[sk]=Hľadanie v súborovom systéme
Name[sl]=Iskanje po datotečnem sistemu
Name[sr]=Претрага фајл система
Name[sr@ijekavian]=Претрага фајл система
Name[sr@ijekavianlatin]=Pretraga fajl sistema
Name[sr@latin]=Pretraga fajl sistema
Name[sv]=Sökning i filsystem
Name[tr]=Dosya Sistemi Araması
Name[uk]=Пошук у файловій системі
Name[x-test]=xxFilesystem Searchxx
Name[zh_CN]=文件系统搜索
Name[zh_TW]=檔案系統搜尋
Comment=Get media from your local files
Comment[ar]=احصل على وسائط من ملفّاتك المحليّة
Comment[ca]=Obté suports de la cerca als fitxers locals
Comment[ca@valencia]=Obté suports de la cerca als fitxers locals
Comment[cs]=Získat média z místních souborů
Comment[da]=Hent medier fra dine lokale filer
Comment[de]=Medien von lokalen Dateien holen
Comment[el]=Ανάκτηση πολυμέσων από τα τοπικά αρχεία σας
Comment[en_GB]=Get media from your local files
Comment[es]=Obtenga archivos multimedia de sus archivos locales
Comment[et]=Meedia hankimine kohalikest failidest
Comment[fi]=Hae mediaa paikallisista tiedostoista
Comment[fr]=Obtenir des média depuis vos fichiers locaux
Comment[gl]=Obter contidos multimedia dos ficheiros locais
Comment[hu]=Média beszerzése a helyi fájlokból
Comment[id]=Dapatkan media dari fail lokal anda
Comment[it]=Ottieni media dai tuoi file locali
Comment[ko]=로컬 파일에서 미디어 가져오기
Comment[lt]=Gauti mediją iš vietinių failų
Comment[nl]=Haal media uit uw lokale bestanden
Comment[nn]=Hent medium frå lokale filer
Comment[pl]=Pobierz multimedia ze swoich plików lokalnych
Comment[pt]=Obter conteúdos dos seus ficheiros locais
Comment[pt_BR]=Obtém a mídia a partir dos seus arquivos locais
Comment[ru]=Медиафайлы, найденные на компьютере
Comment[sk]=Získať médiá z vašich miestnych súborov
Comment[sl]=Pridobite predstavnostne datoteke iz krajevnih datotek
Comment[sr]=Добавите медијуме из локалних фајлова
Comment[sr@ijekavian]=Добавите медијуме из локалних фајлова
Comment[sr@ijekavianlatin]=Dobavite medijume iz lokalnih fajlova
Comment[sr@latin]=Dobavite medijume iz lokalnih fajlova
Comment[sv]=Hämta media från lokala filer
Comment[tr]=Yerel dosyalarınızdan ortam alın
Comment[uk]=Отримати мультимедійні дані з локальних файлів
Comment[x-test]=xxGet media from your local filesxx
Comment[zh_CN]=从本地文件获取媒体
Comment[zh_TW]=從您的本地端檔案取得媒體

X-KDE-ServiceTypes=Plasma/MediaCenter/DataSource

X-KDE-PluginInfo-Name=filsystemsearch
X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_filesystemsearch
