[Desktop Entry]
Type=Service
Icon=tools-rip-audio-cd
Name=All Music
Name[ca]=Tota la música
Name[ca@valencia]=Tota la música
Name[cs]=Všechna hudba
Name[da]=Al musik
Name[de]=Alle Musik
Name[es]=Toda la música
Name[et]=Kogu muusika
Name[fi]=Kaikki musiikki
Name[fr]=Toute la musique
Name[hu]=Minden zene
Name[km]=តន្ត្រី​ទាំងអស់
Name[nl]=Alle muziek
Name[pl]=Wszystkie pliki muzyczne
Name[pt]=Toda a Música
Name[pt_BR]=Todas as músicas
Name[sk]=Všetka hudba
Name[sv]=All musik
Name[uk]=Вся музика
Name[x-test]=xxAll Musicxx
Comment=Listen to the music on your device
Comment[ca]=Escolta la música en el dispositiu
Comment[ca@valencia]=Escolta la música en el dispositiu
Comment[cs]=Poslouchejte hudbu z vašeho zařízení
Comment[da]=Lyt til musikken på din enhed
Comment[et]=Seadmel leiduva muusika kuulamine
Comment[nl]=Naar muziek luisteren op us apparaat
Comment[pt]=Ouvir a música no seu dispositivo
Comment[pt_BR]=Ouvir as músicas no seu dispositivo
Comment[sk]=Počúvať hudbu na vašom zariadení
Comment[sv]=Lyssna på musiken på en enhet
Comment[uk]=Відтворити музичні твори з вашого пристрою
Comment[x-test]=xxListen to the music on your devicexx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=audio
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatamusicbackend
