[Desktop Entry]
Type=Service
Icon=folder-sound
Name=All Music
Name[nl]=Alle muziek
Name[pt]=Toda a Música
Name[pt_BR]=Todas as músicas
Name[uk]=Вся музика
Name[x-test]=xxAll Musicxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatamusicbackend
