[Desktop Entry]
Name=MCTest
Name[en_GB]=MCTest
Name[es]=MCTest
Name[et]=MCTest
Name[fr]=MCTest
Name[hr]=MCTest
Name[km]=MCTest
Name[pt]=MCTest
Name[pt_BR]=MCTest
Name[sv]=MC-test
Name[tr]=MCTest
Name[uk]=MCTest
Name[x-test]=xxMCTestxx
Comment=A test applet for Media Center.
Comment[en_GB]=A test applet for Media Centre.
Comment[es]=Miniaplicación de prueba para Media Center.
Comment[et]=Meediakeskuse testaplett
Comment[fr]=Une applet de test pour Media Center
Comment[hr]=Probni programčić za Media Center.
Comment[km]=សាកល្បង​អាប់ភ្លេត​សម្រាប់​មជ្ឍមណ្ឌល​មេឌៀ ។
Comment[pt]=Uma 'applet' de testes para Centros Multimédia.
Comment[pt_BR]=Um mini-aplicativo de testes para Centros Multimídia.
Comment[sv]=Ett miniprogram för test av Media Center.
Comment[uk]=Тестовий аплет медіа-центру.
Comment[x-test]=xxA test applet for Media Center.xx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mctest
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=mctest
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
