[Desktop Entry]
Type=Service
Icon=image-x-generic
Name=Flickr
Name[bs]=Flikr
Name[ca]=Flickr
Name[ca@valencia]=Flickr
Name[cs]=Flickr
Name[da]=Flickr
Name[de]=Flickr
Name[es]=Flickr
Name[et]=Flickr
Name[fi]=Flickr
Name[fr]=Flickr
Name[ga]=Flickr
Name[hu]=Flickr
Name[ja]=Flickr
Name[mr]=फ्लिकर
Name[nds]=Flickr
Name[nl]=Flickr
Name[pl]=Flickr
Name[pt]=Flickr
Name[pt_BR]=Flickr
Name[sk]=Flickr
Name[sv]=Flickr
Name[ug]=Flickr
Name[uk]=Flickr
Name[x-test]=xxFlickrxx
Comment=Discover pictures from flickr for your chosen tag
Comment[ca]=Descobreix les imatges de «flickr» per l'etiqueta escollida
Comment[ca@valencia]=Descobreix les imatges de «flickr» per l'etiqueta escollida
Comment[da]=Opdag billeder fra flickr ud fra dit valgte mærke
Comment[de]=Bilder von Flickr für Ihre ausgewähltes Stichwort suchen
Comment[es]=Buscar imágenes de flickr con la etiqueta que haya elegido
Comment[et]=Piltide leidmine flickrist vastavalt sildile
Comment[fr]=Découvrez les images provenant de Flickr pour l'étiquette choisie
Comment[nl]=Zoek naar beelden uit flickr op door u gekozen tag
Comment[pt]=Descobrir imagens do Flickr para a sua marca escolhida
Comment[pt_BR]=Descubra as imagens do Flickr para a sua etiqueta escolhida
Comment[sk]=Objaviť obrázky z flickr pre vašu vybranú značku
Comment[sv]=Upptäck bilder på Flickr för vald etikett
Comment[uk]=Ознайомитися з зображеннями flickr за вказаною вами міткою
Comment[x-test]=xxDiscover pictures from flickr for your chosen tagxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_flickrbackend
