[Desktop Entry]
Name=Media Center Player
Name[en_GB]=Media Centre Player
Name[es]=Reproductor Media Center
Name[et]=Meediakeskuse mängija
Name[fr]=Lecteur Media Center
Name[hr]=Media Center Player
Name[km]=កម្មវិធី​ចាក់​មជ្ឈមណ្ឌល​មេឌៀ
Name[pa]=ਮੀਡਿਆ ਸੈਂਟਰ ਪਲੇਅਰ
Name[pt]=Reprodutor Multimédia
Name[pt_BR]=Reprodutor Multimídia
Name[sv]=Spelare för Media Center
Name[uk]=Програвач медіа-центру
Name[x-test]=xxMedia Center Playerxx
Comment=The playing applet for the Media Center.
Comment[en_GB]=The playing applet for the Media Centre.
Comment[es]=Miniaplicación de reproducción para el Media Center.
Comment[et]=Meediakeskuse esitamisaplett
Comment[fr]=L'applet de lecture pour Media Center
Comment[hr]=Programčić za sviranje za Media Center.
Comment[km]=អាប់​ភ្លេត​ដែល​បង្ហាញ​សម្រាប់​មជ្ឈមណ្ឌល​មេឌៀ ។
Comment[pa]=ਮੀਡਿਆ ਸੈਂਟਰ ਚਲਾਉਣ ਲਈ ਚੱਲਣ ਐਪਲਿਟ।
Comment[pt]=Uma 'applet' de reprodução para Centros Multimédia.
Comment[pt_BR]=Um mini-aplicativo de reprodução para Centros Multimídia.
Comment[sv]=Spelarminiprogrammet för Media Center.
Comment[uk]=Аплет відтворення для медіа-центру.
Comment[x-test]=xxThe playing applet for the Media Center.xx


Type=Service
Icon=applications-multimedia
X-Plasma-DropMimeTypes=video/mpeg,video/quicktime,video/ogg,video/x-msvideo, audio/mpeg, audio/x-vorbis+ogg, audio/x-flac

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mcplayer
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=mcplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Required
X-Plasma-Requires-LaunchApp=Unused
