[Desktop Entry]
Name=Media Player
Name[de]=Medienwiedergabe
Name[el]=Αναπαραγωγέας μέσων
Name[et]=Meediamängija
Name[fr]=Lecteur de média
Name[ga]=Seinnteoir Meán
Name[gl]=Reprodutor multimedia
Name[km]=កម្មវិធី​ចាក់មេឌៀ
Name[lt]=Media grotuvas
Name[nds]=Medienafspeler
Name[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
Name[pt]=Reprodutor Multimédia
Name[pt_BR]=Reprodutor de mídia
Name[ro]=Redare multimedia
Name[ru]=Проигрыватель
Name[sv]=Mediaspelare
Name[tr]=Ortam Oynatıcı
Name[uk]=Медіапрогравач
Name[x-test]=xxMedia Playerxx
Comment=Widget that can play video and sound
Comment[et]=Pilti ja heli esitav vidin
Comment[gl]=Un widget que pode reproducir vídeo e son
Comment[uk]=Віджет, призначений для відтворення відео і звуку


Type=Service
Icon=applications-multimedia
X-Plasma-DropMimeTypes=video/mpeg,video/quicktime,video/ogg,video/x-msvideo, audio/mpeg, audio/x-vorbis+ogg, audio/x-flac

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mediaplayer
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=mediaplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Required
X-Plasma-Requires-LaunchApp=Unused
