[Desktop Entry]
Type=Service
Icon=image-x-generic
Name=Events and Trips
Name[ar]=الأحداث والرّحلات
Name[ca]=Esdeveniments i viatges
Name[ca@valencia]=Esdeveniments i viatges
Name[cs]=Události a výlety
Name[da]=Begivenheder og rejser
Name[de]=Ereignisse und Ausflüge
Name[el]=Γεγονότα και ταξίδια
Name[en_GB]=Events and Trips
Name[es]=Eventos y viajes
Name[fi]=Tapahtumat ja matkat
Name[fr]=Événements et voyages
Name[gl]=Acontecementos e viaxes
Name[hu]=Események és utazások
Name[id]=Event dan Perjalanan
Name[it]=Eventi e viaggi
Name[ko]=이벤트와 여행
Name[lt]=Įvykiai ir kelionės
Name[nl]=Afspraken en reisjes
Name[nn]=Hendingar og turar
Name[pl]=Wydarzenia i podróże
Name[pt]=Eventos e Viagens
Name[pt_BR]=Eventos e Viagens
Name[ro]=Evenimente și călătorii
Name[ru]=События и поездки
Name[sk]=Udalosti a výlety
Name[sl]=Dogodki in potovanja
Name[sr]=Догађаји и путеви
Name[sr@ijekavian]=Догађаји и путеви
Name[sr@ijekavianlatin]=Događaji i putevi
Name[sr@latin]=Događaji i putevi
Name[sv]=Händelser och resor
Name[tr]=Etkinlikler ve Yolculuklar
Name[uk]=Події і подорожі
Name[x-test]=xxEvents and Tripsxx
Name[zh_CN]=活动和旅程
Name[zh_TW]=事件與旅程
Comment=Organize your photos for events and trips you have taken
Comment[ar]=نظّم صور أحداثك ورحلاتك التي التقطتها
Comment[ca]=Organitza les fotografies que heu pres dels esdeveniments i viatges
Comment[ca@valencia]=Organitza les fotografies que heu pres dels esdeveniments i viatges
Comment[cs]=Organizujte své fotky pro události a výlety, na kterých jste byli
Comment[da]=Organisér de fotos du har taget ved begivenheder og rejser
Comment[de]=Organisieren Sie Ihre Fotos von Ereignissen und Ausflügen, die Sie unternommen haben
Comment[el]=Οργανώστε τις φωτογραφίες σας για γεγονότα και ταξίδια που έχετε πραγματοποιήσει
Comment[en_GB]=Organise your photos for events and trips you have taken
Comment[es]=Organizar las fotos de eventos y viajes que ha capturado
Comment[fi]=Järjestä tapahtumissa ja matkoilla ottamasi kuvat
Comment[fr]=Organiser vos photos par rapport aux évènements et aux voyages que vous avez réalisés
Comment[gl]=Organice as súas fotos de acontecementos e viaxes que fixo
Comment[hu]=Az eseményeken és utazásokon készített fényképeinek rendezése
Comment[id]=Menata foto anda untuk event dan perjalanan yang telah anda ambil
Comment[it]=Organizza le fotografie degli eventi o dei viaggi ai quali hai partecipato
Comment[ko]=이벤트와 여행에서 찍은 사진 정리하기
Comment[lt]=Tvarkyti turėtų įvykių ir kelionių nuotraukas
Comment[nl]=Uw foto's voor gebeurtenissen en reisjes die u hebt gemaakt organiseren
Comment[nn]=Organiser foto for hendingar og turar du har teke
Comment[pl]=Urządź swoje zdjęcia według wydarzeń i podróży, które odbyłeś
Comment[pt]=Organizar as suas fotografias pelos eventos e viagens onde tenha participado
Comment[pt_BR]=Organize suas fotos por eventos e viagens que realizou
Comment[ru]=Группировка фотографий по событиям и поездкам, в которых они были сделаны
Comment[sk]=Organizovať vaše fotky pre udalosti a výlety, ktoré ste urobili
Comment[sl]=Organizirajte vaše fotografije dogodkov in potovanj
Comment[sr]=Организујте своје фотографије са догађаја и путева
Comment[sr@ijekavian]=Организујте своје фотографије са догађаја и путева
Comment[sr@ijekavianlatin]=Organizujte svoje fotografije sa događaja i puteva
Comment[sr@latin]=Organizujte svoje fotografije sa događaja i puteva
Comment[sv]=Organisera dina bilder av händelser och resor som du har gjort
Comment[tr]=Etkinlik ve gezilerinizde çektiğiniz fotoğraflarınızı düzenleyin
Comment[uk]=Упорядкування фотографій, які було зроблено під час певних подій або подорожей
Comment[x-test]=xxOrganize your photos for events and trips you have takenxx
Comment[zh_CN]=根据活动和旅程组织照片
Comment[zh_TW]=整理您在旅程與事件中的相片

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=eventsbackend
X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_eventsbackend
