[Desktop Entry]
Name=Picasa
Name[x-test]=xxPicasaxx

Comment=An engine that allows you to query web services for media.
Comment[pt]=Um motor que lhe permite pesquisar conteúdos multimédia em vários serviços na Web.
Comment[pt_BR]=Um motor que lhe permite pesquisar conteúdos multimídia em vários serviços na Web.
Comment[sv]=Ett gränssnitt som låter dig söka efter media på webbtjänster.
Comment[uk]=Рушій, який надасть вам змогу звантажувати мультимедійні дані зі служб у мережі.
Comment[x-test]=xxAn engine that allows you to query web services for media.xx

X-KDE-ServiceTypes=Plasma/JavascriptAddon
Type=Service
X-Plasma-API=javascript

X-KDE-Library=plasma_engine_webmedia
X-KDE-PluginInfo-Author=Onur-Hayri Bakici
X-KDE-PluginInfo-Email=thehayro@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.dataengine.webmedia.picasa
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=org.kde.plasma.dataengine.webmedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
