[Desktop Entry]
Type=Service
Name=YouTube video provider.
Name[et]=YouTube'i video pakkuja
Name[nl]=Leverancier van YouTube-video's.
Name[pt]=Fornecedor de vídeos do YouTube.
Name[pt_BR]=Fornecedor de vídeos do YouTube.
Name[sv]=YouTube videoleverantör.
Name[uk]=Показ відео YouTube.
Name[x-test]=xxYouTube video provider.xx
Comment=A plugin that allows browsing through YouTube videos.
Comment[et]=Plugin Youtube'i videode sirvimiseks.
Comment[nl]=Een plugin voor bladeren door video's in YouTube.
Comment[pt]=Um 'plugin' que lhe permite pesquisar vídeos no YouTube.
Comment[pt_BR]=Um plug-in que lhe permite navegar pelos vídeos no YouTube.
Comment[sv]=Ett insticksprogram som låter dig bläddra igenom videor på YouTube.
Comment[uk]=Додаток, за допомогою якого ви зможете переглядати відеоматеріали з YouTube.
Comment[x-test]=xxA plugin that allows browsing through YouTube videos.xx

X-KDE-ServiceTypes=Plasma/MediaCenter/VideoProvider

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-VideoProvider-Name=youtube
X-KDE-Library=videoprovider_youtube
