[Desktop Entry]
Type=Service
Name=Local Files browsing plugin.
Comment=A plugin for the mediabrowser applet that allows local files browsing.

X-KDE-ServiceTypes=Plasma/MediaCenter/VideoProvider

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-VideoProvider-Name=youtube
X-KDE-Library=videoprovider_youtube
