[Desktop Entry]
Type=Service
Name=YouTube video provider.
Name[en_GB]=YouTube video provider.
Name[es]=Proveedor de vídeo de YouTube.
Name[fr]=Fournisseur de vidéo pour YouTube
Name[pt]=Fornecedor de vídeos do YouTube.
Name[sv]=YouTube videoleverantör.
Name[uk]=Показ відео YouTube.
Name[x-test]=xxYouTube video provider.xx
Comment=A plugin that allows browsing through YouTube videos.
Comment[en_GB]=A plugin that allows browsing through YouTube videos.
Comment[es]=Un motor que le permite navegar entre los vídeos de YouTube.
Comment[fr]=Un module vous permettant de naviguer en direct parmi les vidéos de Youtube.
Comment[pt]=Um 'plugin' que lhe permite pesquisar vídeos no YouTube.
Comment[sv]=Ett insticksprogram som låter dig bläddra igenom videor på YouTube.
Comment[uk]=Додаток, за допомогою якого ви зможете переглядати відеоматеріали з YouTube.
Comment[x-test]=xxA plugin that allows browsing through YouTube videos.xx

X-KDE-ServiceTypes=Plasma/MediaCenter/VideoProvider

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-VideoProvider-Name=youtube
X-KDE-Library=videoprovider_youtube
