[Desktop Entry]
Name=Webmedia Engine
Name[ja]=Webmedia エンジン
Name[nl]=Webmedia-engine
Name[pt]=Motor de Webmédia
Name[sv]=Webbmedia-gränssnitt
Name[uk]=Рушій Webmedia
Name[x-test]=xxWebmedia Enginexx

Comment=An engine that allows you to query web services for media.
Comment[pt]=Um motor que lhe permite pesquisar conteúdos multimédia em vários serviços na Web.
Comment[sv]=Ett gränssnitt som låter dig söka efter media på webbtjänster.
Comment[uk]=Рушій, який надасть вам змогу звантажувати мультимедійні дані зі служб у мережі.
Comment[x-test]=xxAn engine that allows you to query web services for media.xx

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/mediaservice.js
X-Plasma-RequiredExtensions=
X-Plasma-OptionalExtensions=HTTP

X-KDE-Library=plasma_engine_webmedia
X-KDE-PluginInfo-Author=Onur-Hayri Bakici
X-KDE-PluginInfo-Email=thehayro@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.dataengine.webmedia
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
