[Desktop Entry]
Name=Youtube Engine
Name[es]=Motor Youtube
Name[et]=Youtube'i mootor
Name[fr]=Moteur Youtube
Name[hr]=Youtube podrška
Name[km]=ម៉ាស៊ីន Youtube
Name[pt]=Motor do YouTube
Name[pt_BR]=Motor do YouTube
Name[sv]=YouTube-gränssnitt
Name[tr]=Youtube Motoru
Name[uk]=Рушій Youtube
Name[x-test]=xxYoutube Enginexx
Comment=An engine that allows you to query YouTube for videos.
Comment[et]=Mootor Youtube'i videodele päringute esitamiseks.
Comment[fr]=Un moteur vous permettant de quérir des vidéos depuis Youtube.
Comment[hr]=Podrška koja omogućava traženje videa na YouTube-u.
Comment[km]=ម៉ាស៊ីន​ដែល​អនុញ្ញាត​ឲ្យ​អ្នក​សួរ YouTube រក​វីដេអូ ។
Comment[pt]=Um motor que lhe permite pesquisar vídeos no YouTube.
Comment[pt_BR]=Um motor que lhe permite pesquisar vídeos no YouTube.
Comment[sv]=Ett gränssnitt som låter dig söka efter videor på YouTube.
Comment[uk]=Рушій, який надасть вам змогу звантажувати відео з YouTube.
Comment[x-test]=xxAn engine that allows you to query YouTube for videos.xx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_youtube
X-Plasma-EngineName=youtube
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=youtube
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
