[Desktop Entry]
Type=Service
Icon=baloo
Name=Baloo Search
Name[da]=Søgning med Baloo
Name[de]=Baloo-Suche
Name[el]=Αναζήτηση Baloo
Name[es]=Búsqueda de Baloo
Name[fi]=Baloo-haku
Name[it]=Ricerca con Baloo
Name[nl]=Zoeken met Baloo
Name[pl]=Wyszukiwarka Baloo
Name[pt]=Pesquisa no Baloo
Name[pt_BR]=Pesquisa do Baloo
Name[sk]=Hľadanie Baloo
Name[sl]=Iskanje Baloo
Name[sv]=Baloo-sökning
Name[uk]=Пошук Baloo
Name[x-test]=xxBaloo Searchxx
Comment=Get media from Baloo Search
Comment[da]=Hent medier fra søgning med Baloo
Comment[de]=Medien von der Baloo-Suche holen
Comment[el]=Ανάκτηση πολυμέσων μέσω της αναζήτησης Baloo
Comment[es]=Obtener medios desde la búsqueda de Baloo
Comment[fi]=Hae mediaa Baloolla
Comment[it]=Ottieni media dalla ricerca con Baloo
Comment[nl]=Haal media uit Baloo-zoeken
Comment[pl]=Pobierz multimedia z wyszukiwarki Baloo
Comment[pt]=Obter conteúdos da pesquisa no Baloo
Comment[pt_BR]=Obtém a mídia a partir da Pesquisa do Baloo
Comment[sk]=Získať médiá z hľadania Baloo
Comment[sl]=Pridobite predstavnostne datoteke iz Iskanja Baloo
Comment[sv]=Hämta media från Baloo-sökning
Comment[uk]=Отримати дані із засобу стільничного пошуку Baloo
Comment[x-test]=xxGet media from Baloo Searchxx

X-KDE-ServiceTypes=Plasma/MediaCenter/MediaSource

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_baloosearch
