[Desktop Entry]
Name=Plasma Media Center
Name[bs]=Plasma Media Center
Name[ca]=Centre multimèdia del Plasma
Name[ca@valencia]=Centre multimèdia del Plasma
Name[cs]=Multimediální centrum Plasma
Name[da]=Plasma Mediecenter
Name[de]=Plasma-Mediencenter
Name[el]=Plasma Media Center
Name[en_GB]=Plasma Media Centre
Name[es]=Plasma Media Center
Name[et]=Plasma meediakeskus
Name[fi]=Plasma-mediakeskus
Name[fr]=Centre multimédia pour Plasma
Name[gl]=Centro Multimedia de Plasma
Name[hu]=Plasma médiaközpont
Name[it]=Plasma Media Center
Name[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
Name[lv]=Plasma multivides centrs
Name[mr]=प्लाज्मा मीडिया सेंटर
Name[nl]=Plasma mediacentrum
Name[pl]=Centrum multimedialne plazmy
Name[pt]=Centro Multimédia do Plasma
Name[pt_BR]=Plasma Media Center
Name[sk]=Plasma Media Center
Name[sl]=Predstavnostno središče Plasma
Name[sv]=Plasma Media Center
Name[tr]=Plasma Ortam Merkezi
Name[ug]=پلازما ۋاسىتە مەركىزى
Name[uk]=Медіацентр Плазми
Name[x-test]=xxPlasma Media Centerxx
Name[zh_TW]=Plasma 媒體中心
GenericName=Plasma Media Center
GenericName[bs]=Plasma Media Center
GenericName[ca]=Centre multimèdia del Plasma
GenericName[ca@valencia]=Centre multimèdia del Plasma
GenericName[cs]=Multimediální centrum Plasma
GenericName[da]=Plasma Mediecenter
GenericName[de]=Plasma-Mediencenter
GenericName[el]=Plasma Media Center
GenericName[en_GB]=Plasma Media Centre
GenericName[es]=Plasma Media Center
GenericName[et]=Plasma meediakeskus
GenericName[fi]=Plasma-mediakeskus
GenericName[fr]=Centre multimédia pour Plasma
GenericName[gl]=Centro Multimedia de Plasma
GenericName[hu]=Plasma médiaközpont
GenericName[it]=Plasma Media Center
GenericName[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
GenericName[lv]=Plasma multivides centrs
GenericName[mr]=प्लाज्मा मीडिया सेंटर
GenericName[nl]=Plasma mediacentrum
GenericName[pl]=Centrum multimedialne plazmy
GenericName[pt]=Centro Multimédia do Plasma
GenericName[pt_BR]=Plasma Media Center
GenericName[sk]=Plasma Media Center
GenericName[sl]=Predstavnostno središče Plasma
GenericName[sv]=Plasma Media Center
GenericName[tr]=Plasma Ortam Merkezi
GenericName[ug]=پلازما ۋاسىتە مەركىزى
GenericName[uk]=Медіацентр Плазми
GenericName[x-test]=xxPlasma Media Centerxx
GenericName[zh_TW]=Plasma 媒體中心
Comment=A mediacenter user interface written with the Plasma framework
Comment[bs]=Korisnički interfejs medijskog centra za Plasma radno okruženje
Comment[ca]=Una interfície d'usuari per a centre de medis escrit amb l'entorn de treball Plasma
Comment[ca@valencia]=Una interfície d'usuari per a centre de medis escrit amb l'entorn de treball Plasma
Comment[cs]=Uživatelské rozhraní multimediálního centra napsané pomocí Plasmy
Comment[da]=En mediecenter-brugerflade skrevet med Plasma-frameworket
Comment[de]=Eine Mediencenter-Oberfläche geschrieben mit dem Plasma-Framework
Comment[el]=Ένα κέντρο πολυμέσων γραμμένο με το πλαίσιο εργασίας Plasma
Comment[en_GB]=A media centre user interface written with the Plasma framework
Comment[es]=Una interfaz de usuario de centros de medios escrita para la infraestructura Plasma
Comment[et]=Palsma raamistikus kirjutatud meediakeskuse kasutajaliides
Comment[fi]=Plasma-kehyksellä kirjoitettu mediakeskuskäyttöliittymä
Comment[fr]=Une interface utilisateur de centre multimédia écrite avec l'infrastructure Plasma
Comment[gl]=Unha interface de usuario de centro multimedia escrita coa infraestrutura de Plasma
Comment[hu]=A médiaközpont felhasználói felületét a Plasma keretrendszerrel írták
Comment[it]=Un'interfaccia utente di mediacenter scritta con l'infrastruttura Plasma
Comment[km]=ចំណុចប្រទាក់​អ្នក​ប្រើ​មជ្ឈមណ្ឌល​មេឌៀ​ដែល​បាន​សរសេរ​ដោយ​មាន​ក្របខ័ណ្ឌ​ប្លាស្មា
Comment[lv]=Multivides centra lietotāja saskarne, kas sarakstīta, izmantojot Plasma karkasu
Comment[nl]=Een gebruikersinterface voor een mediacentrum geschreven met het Plasma raamwerk
Comment[pl]=Interfejs użytkownika centrum multimediów zostało napisane przy użyciu szkieletu Plazmy
Comment[pt]=Uma interface de centro multimédia criada com a plataforma do Plasma
Comment[pt_BR]=Interface de central multimídia criada com a plataforma Plasma
Comment[sk]=Používateľské rozhranie mediálneho centra napísané pomocou frameworku Plasma
Comment[sl]=Predstavnostno središče spisano z ogrodjem Plasma
Comment[sv]=Ett mediacenter-användargränssnitt skrivet med Plasma-ramverket
Comment[tr]=Plasma çalışma çerçevesi ile yazılmış bir ortam merkezi kullanıcı arayüzü
Comment[uk]=Інтерфейс користувача медіацентру створено за допомогою бібліотек Плазми
Comment[x-test]=xxA mediacenter user interface written with the Plasma frameworkxx
Comment[zh_TW]=用 Plasma 框架寫的媒體中心使用者介面
Exec=plasma-mediacenter %u
Terminal=false
Icon=applications-multimedia
Type=Application
Categories=Qt;KDE;AudioVideo;
MimeType=video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;video/x-flv;video/vnd.rn-realvideo;video/mp4;video/mp4v-es;video/mp2t;application/ogg;application/x-ogg;video/x-ogm+ogg;audio/x-vorbis+ogg;application/x-matroska;audio/x-matroska;video/x-matroska;video/webm;audio/webm;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/x-m4a;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;application/vnd.rn-realmedia;audio/x-real-audio;audio/x-pn-realaudio;application/x-flac;audio/x-flac;application/x-shockwave-flash;misc/ultravox;audio/vnd.rn-realaudio;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-pn-windows-acm;audio/x-pn-realaudio-plugin;application/x-extension-mp4;audio/mp4;audio/amr;audio/amr-wb;x-content/video-vcd;x-content/video-svcd;x-content/video-dvd;
InitialPreference=1
