[Desktop Entry]
Name=Media oxygen
Name[es]=Oxígeno Multimedia
Name[et]=Meedia-Oxygen
Name[fr]=Oxygen pour média
Name[nl]=Media-oxygen
Name[pl]=Media oxygen
Name[pt]=Oxygen Multimédia
Name[pt_BR]=Oxygen multimídia
Name[sv]=Media oxygen
Name[uk]=Медіа-оксіджен
Name[x-test]=xxMedia oxygenxx


X-KDE-PluginInfo-Name=MediaOxygen
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
