[Desktop Entry]
Type=Service
Icon=folder-image
Name=Local pictures
Name[nds]=Lokaal Biller
Name[nl]=Lokale afbeeldingen
Name[pt]=Imagens locais
Name[pt_BR]=Imagens locais
Name[sv]=Lokala bilder
Name[uk]=Локальні зображення
Name[x-test]=xxLocal picturesxx
Comment=A plugin for the mediabrowser applet that allows local file browsing
Comment[pt]=Um 'plugin' para a 'applet' de leitura multimédia, que permite a navegação nos ficheiros locais.
Comment[pt_BR]=Um plug-in para o miniaplicativo leitor multimídia, que permite a navegação nos arquivos locais
Comment[sv]=Ett insticksprogram för miniprogrammet Mediabläddrare som tillåter bläddring i lokala filer
Comment[uk]=Додаток до аплету переглядача носіїв, який надає змогу переглядати локальні файли
Comment[x-test]=xxA plugin for the mediabrowser applet that allows local file browsingxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localpictures
