[Desktop Entry]
Name=MediaWelcome
Name[es]=MediaWelcome
Name[et]=Meediatervitus
Name[fr]=MediaWelcome
Name[ja]=MediaWelcome
Name[nl]=MediaWelcome
Name[pl]=Powitanie multimedialne
Name[pt]=MediaWelcome
Name[pt_BR]=MediaWelcome
Name[sk]=MediaWelcome
Name[sv]=Välkommen till Media Center
Name[uk]=Медіа-вітання
Name[x-test]=xxMediaWelcomexx
Comment=Plasma Media Center welcome applet
Comment[es]=Miniaplicación de bienvenida para el Centro Multimedia de Plasma
Comment[et]=Plasma meediakeskuse tervitusaplett
Comment[fr]=Applet de bienvenue du centre multimédia
Comment[nl]=Applet voor verwelkoming in het Plasma mediacentrum
Comment[pl]=Aplet witający centrum multimedialnego plazmy
Comment[pt]='Applet' de boas-vindas do Centro Multimédia do Plasma
Comment[pt_BR]=Miniaplicativo de boas-vindas do Plasma Media Center
Comment[sv]=Välkomstminiprogram för Plasma Media Center
Comment[uk]=Аплет вітання медіацентру Плазми
Comment[x-test]=xxPlasma Media Center welcome appletxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mediawelcome
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=org.kde.mediawelcome
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
