[Desktop Entry]
Name=Picasa Engine
Name[en_GB]=Picasa Engine
Name[es]=Motor Picasa
Name[et]=Picasa mootor
Name[fr]=Moteur Picasa
Name[nl]=Picasa-engine
Name[pt]=Motor do Picasa
Name[pt_BR]=Motor do Picasa
Name[sv]=Picasa-gränssnitt
Name[tr]=Picasa Motoru
Name[uk]=Рушій Picasa
Name[x-test]=xxPicasa Enginexx

Comment=An engine that allows you to query Picasa.
Comment[en_GB]=An engine that allows you to query Picasa.
Comment[es]=Un motor que le permite consultar en Picasa.
Comment[et]=Mootor Picasale päringute esitamiseks.
Comment[fr]=Un moteur vous permettant de quérir des images dans Picasa
Comment[pt]=Um motor que lhe permite efectuar consultas no Picasa.
Comment[pt_BR]=Um motor que lhe permite efetuar consultas no Picasa.
Comment[sv]=Ett gränssnitt som låter dig söka på Picasa.
Comment[uk]=Рушій, який надасть вам змогу надсилати запити до Picasa.
Comment[x-test]=xxAn engine that allows you to query Picasa.xx

Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_picasa
X-Plasma-EngineName=picasa
X-KDE-PluginInfo-Author=Francesco Grieco
X-KDE-PluginInfo-Email=fgrieco@gmail.com
X-KDE-PluginInfo-Name=picasa
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
