[Desktop Entry]
Type=Service
Icon=drive-harddisk
Name=Filesystem Search
Name[ca]=Cerca al sistema de fitxers
Name[ca@valencia]=Cerca al sistema de fitxers
Name[cs]=Prohledávání souborového systému
Name[da]=Søgning på filsystem
Name[de]=Dateisystem-Suche
Name[es]=Búsqueda en el sistema de archivos
Name[fi]=Tiedostojärjestelmähaku
Name[it]=Ricerca nel filesystem
Name[nl]=Zoeken in het bestandssysteem
Name[pl]=Wyszukiwanie w systemie plików
Name[pt]=Pesquisa no Sistema de Ficheiros
Name[pt_BR]=Pesquisa no sistema de arquivos
Name[sk]=Hľadanie v súborovom systéme
Name[sl]=Iskanje po datotečnem sistemu
Name[sv]=Sökning i filsystem
Name[tr]=Dosya Sistemi Araması
Name[uk]=Пошук у файловій системі
Name[x-test]=xxFilesystem Searchxx
Name[zh_TW]=檔案系統搜尋
Comment=Get media from your local files
Comment[ca]=Obté medis de la cerca als fitxers locals
Comment[ca@valencia]=Obté medis de la cerca als fitxers locals
Comment[cs]=Získat média z místních souborů
Comment[da]=Hent medier fra dine lokale filer
Comment[de]=Medien von lokalen Dateien holen
Comment[es]=Obtener medios desde sus archivos locales
Comment[fi]=Hae mediaa paikallisista tiedostoista
Comment[it]=Ottieni media dai tuoi file locali
Comment[nl]=Haal media uit uw lokale bestanden
Comment[pl]=Pobierz multimedia ze swoich plików lokalnych
Comment[pt]=Obter conteúdos dos seus ficheiros locais
Comment[pt_BR]=Obtém a mídia a partir dos seus arquivos locais
Comment[sk]=Získať médiá z vašich miestnych súborov
Comment[sl]=Pridobite predstavnostne datoteke iz krajevnih datotek
Comment[sv]=Hämta media från lokala filer
Comment[tr]=Yerel dosyalarınızdan ortam alın
Comment[uk]=Отримати мультимедійні дані з локальних файлів
Comment[x-test]=xxGet media from your local filesxx
Comment[zh_TW]=從您的本地端檔案取得媒體

X-KDE-ServiceTypes=Plasma/MediaCenter/MediaSource

X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_filesystemsearch
