[Desktop Entry]
Type=Service
Icon=drive-harddisk
Name=Filesystem Search
Name[ca]=Cerca al sistema de fitxers
Name[de]=Dateisystem-Suche
Name[fi]=Tiedostojärjestelmähaku
Name[nl]=Zoeken in het bestandssysteem
Name[pl]=Wyszukiwanie w systemie plików
Name[pt]=Pesquisa no Sistema de Ficheiros
Name[pt_BR]=Pesquisa no sistema de arquivos
Name[sk]=Hľadanie v súborovom systéme
Name[sv]=Sökning i filsystem
Name[uk]=Пошук у файловій системі
Name[x-test]=xxFilesystem Searchxx
Comment=Get media from your local files
Comment[ca]=Obté medis de la cerca als fitxers locals
Comment[de]=Medien von lokalen Dateien holen
Comment[fi]=Hae mediaa paikallisista tiedostoista
Comment[nl]=Haal media uit uw lokale bestanden
Comment[pl]=Pobierz multimedia ze swoich plików lokalnych
Comment[pt]=Obter conteúdos dos seus ficheiros locais
Comment[pt_BR]=Obtém a mídia a partir dos seus arquivos locais
Comment[sk]=Získať médiá z vašich miestnych súborov
Comment[sv]=Hämta media från lokala filer
Comment[uk]=Отримати мультимедійні дані з локальних файлів
Comment[x-test]=xxGet media from your local filesxx

X-KDE-ServiceTypes=Plasma/MediaCenter/MediaSource

X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_filesystemsearch
