[Desktop Entry]
Name=Media oxygen


X-KDE-PluginInfo-Name=MediaOxygen
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
