[Desktop Entry]
Name=MediaBrowser Applet
Name[en_GB]=MediaBrowser Applet
Name[es]=Miniaplicación MediaBrowser
Name[et]=Meediasirvija aplett
Name[fr]=Applet MediaBrowser
Name[hr]=PreglednikMultiMedije Programčić
Name[km]=អាប់ភ្លេត MediaBrowser
Name[pt]='Applet' de Leitura Multimédia
Name[pt_BR]=Mini-aplicativo de Leitor Multimídia
Name[sv]=Miniprogram för mediabläddring
Name[tr]=Ortam Tarayıcı Programcığı
Name[uk]=Аплет мультимедійного переглядача
Name[x-test]=xxMediaBrowser Appletxx
Comment=An applet to browse through your media files
Comment[de]=Ein Applet zum Durchsuchen Ihrer Medien-Dateien
Comment[en_GB]=An applet to browse through your media files
Comment[es]=Miniaplicación para navegar entre sus archivos de medios
Comment[et]=Aplett meediafailide sirvimiseks
Comment[fr]=Une applet pour le parcourt des fichiers de média
Comment[hr]=Programčić za pregled Vaših multimedijalnih datoteka
Comment[km]=អាប់ភ្លេត​ត្រូវ​រកមើល​តាមរយៈ​ឯកសារ​មេឌៀ​របស់​អ្នក
Comment[pt]=Uma 'applet' para navegar pelos seus ficheiros multimédia
Comment[pt_BR]=Um mini-aplicativo para navegar pelos seus arquivos multimídia
Comment[sv]=Ett miniprogram för att bläddra i dina mediafiler
Comment[uk]=Аплет для навігації вашими мультимедійними файлами
Comment[x-test]=xxAn applet to browse through your media filesxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mediabrowser
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=mediabrowser
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
