[Desktop Entry]
Name=MediaBrowser Applet
Name[es]=Miniaplicación MediaBrowser
Name[et]=Meediasirvija aplett
Name[fr]=Applet de navigateur multimédia
Name[hr]=PreglednikMultiMedije Programčić
Name[ja]=MediaBrowser アプレット
Name[nl]=MediaBrowser-applet
Name[pt]='Applet' de Leitura Multimédia
Name[pt_BR]=Miniaplicativo de leitura multimídia
Name[sv]=Miniprogram för mediabläddring
Name[uk]=Аплет мультимедійного переглядача
Name[x-test]=xxMediaBrowser Appletxx
Comment=An applet to browse through your media files
Comment[es]=Una miniaplicación para explorar sus archivos multimedia
Comment[et]=Aplett meediafailide sirvimiseks
Comment[fr]=Une applet pour parcourir vos fichiers multimédia
Comment[hr]=Programčić za pregled Vaših multimedijalnih datoteka
Comment[nl]=Een applet om door uw mediabestanden te bladeren
Comment[pt]=Uma 'applet' para navegar pelos seus ficheiros multimédia
Comment[pt_BR]=Um miniaplicativo para navegar pelos seus arquivos multimídia
Comment[sv]=Ett miniprogram för att bläddra i dina mediafiler
Comment[uk]=Аплет для навігації вашими мультимедійними файлами
Comment[x-test]=xxAn applet to browse through your media filesxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mediabrowser
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=org.kde.mediabrowser
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
