[Desktop Entry]
Comment=PMC shell package
Comment[ca]=Paquet de l'intèrpret d'ordres PMC
Comment[cs]=Balíček shellu PMC
Comment[da]=PMC skal-pakke
Comment[de]=PMC-Shellpaket
Comment[el]=Πακέτο κελύφους PMC
Comment[en_GB]=PMC shell package
Comment[es]=Paquete del entorno PMC
Comment[fi]=PMC-kuoripaketti
Comment[id]=Paket shell PMC
Comment[it]=Pacchetto PMC shell
Comment[lt]=PMC apvalkalo paketas
Comment[nl]=PMC shell-pakket
Comment[pl]=Pakiet powłoki PMC
Comment[pt]=Pacote da consola do PMC
Comment[pt_BR]=Pacote do console do PMC
Comment[sk]=Balík shellu PMC
Comment[sl]=Lupinski paket PSP
Comment[sv]=PMC-skalpaket
Comment[tr]=PMC kabuk paketi
Comment[uk]=Пакунок оболонки МЦП
Comment[x-test]=xxPMC shell packagexx
Comment[zh_CN]=PMC 外壳包
Encoding=UTF-8
Keywords=
Name=Plasma Media Center
Name[ar]=مركز وسائط بلازما
Name[ast]=Centru multimedia Plasma
Name[bs]=Plasma Media Center
Name[ca]=Centre multimèdia del Plasma
Name[ca@valencia]=Centre multimèdia del Plasma
Name[cs]=Multimediální centrum Plasma
Name[da]=Plasma Mediecenter
Name[de]=Plasma-Mediencenter
Name[el]=Plasma Media Center
Name[en_GB]=Plasma Media Centre
Name[es]=Centro multimedia de Plasma
Name[et]=Plasma meediakeskus
Name[fi]=Plasma-mediakeskus
Name[fr]=Centre multimédia pour Plasma
Name[gl]=Centro Multimedia de Plasma
Name[hu]=Plasma médiaközpont
Name[id]=Plasma Media Center
Name[it]=Plasma Media Center
Name[km]=មជ្ឈមណ្ឌល​មេឌៀ​ប្លាស្មា
Name[lt]=Plasma Media centras
Name[lv]=Plasma multivides centrs
Name[mr]=प्लाज्मा मीडिया सेंटर
Name[nl]=Plasma mediacentrum
Name[pl]=Centrum multimedialne plazmy
Name[pt]=Centro Multimédia do Plasma
Name[pt_BR]=Plasma Media Center
Name[sk]=Plasma Media Center
Name[sl]=Predstavnostno središče Plasma
Name[sv]=Plasma Media Center
Name[tr]=Plasma Ortam Merkezi
Name[ug]=پلازما ۋاسىتە مەركىزى
Name[uk]=Медіацентр Плазми
Name[x-test]=xxPlasma Media Centerxx
Name[zh_CN]=Plasma 媒体中心
Name[zh_TW]=Plasma 媒體中心
Type=Service
Icon=applications-multimedia

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Bhushan Shah
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=bhush94@gmail.com
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.plasma.mediacenter
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=layout.js
