[Desktop Entry]
Type=Service
Icon=youtube-pmc
Name=YouTube Videos
Name[ar]=فيديوهات يوتيوب
Name[bs]=YouTube videozapisi
Name[ca]=Vídeos de YouTube
Name[ca@valencia]=Vídeos de YouTube
Name[cs]=Videa YouTube
Name[da]=YouTube-videoer
Name[de]=YouTube-Videos
Name[el]=Βίντεο στο YouTube
Name[en_GB]=YouTube Videos
Name[es]=Vídeos de YouTube
Name[fi]=YouTube-videot
Name[fr]=Videos YouTube
Name[gl]=Vídeos de YouTube
Name[hu]=YouTube videók
Name[id]=Video YouTube
Name[it]=Video di YouTube
Name[ko]=YouTube 동영상
Name[lt]=YouTube vaizdo įrašai
Name[lv]=YouTube videoklipi
Name[nl]=Video's van YouTube
Name[nn]=YouTube-videoar
Name[pl]=Filmy YouTube.
Name[pt]=Vídeos do YouTube
Name[pt_BR]=Vídeos do YouTube
Name[ro]=Video YouTube
Name[ru]=Видео с YouTube
Name[sk]=Videá YouTube
Name[sl]=Videi YouTube
Name[sr]=Снимци са Јутјуба
Name[sr@ijekavian]=Снимци са Јутјуба
Name[sr@ijekavianlatin]=Snimci sa YouTubea
Name[sr@latin]=Snimci sa YouTubea
Name[sv]=YouTube-videor
Name[tr]=YouTube Videoları
Name[uk]=Відео з YouTube
Name[x-test]=xxYouTube Videosxx
Name[zh_CN]=YouTube 视频
Name[zh_TW]=YouTube 影片
Comment=Watch videos from Youtube
Comment[ar]=شاهد الفيديوهات من يوتيوب
Comment[bs]=Gledaj videozapise preko YouTube-a
Comment[ca]=Mostra els vídeos des de YouTube
Comment[ca@valencia]=Mostra els vídeos des de YouTube
Comment[cs]=Sledujte videa z Youtube
Comment[da]=Se videoer fra Youtube
Comment[de]=Betrachten Sie Videos von Youtube
Comment[el]=Παρακολουθήστε βίντεο στο YouTube
Comment[en_GB]=Watch videos from YouTube
Comment[es]=Vea vídeos de YouTube
Comment[fi]=Katso videoita YouTubesta
Comment[fr]=Regardez des vidéos depuis Youtube
Comment[gl]=Vexa vídeos de YouTube
Comment[hu]=Videók megnézése a YouTube-ról
Comment[id]=Menonton video dari Youtube
Comment[it]=Guarda i video di YouTube
Comment[ko]=YouTube 동영상 보기
Comment[lt]=Žiūrėti vaizdo įrašus iš YouTube
Comment[lv]=Skatīt videoklipus no Youtube
Comment[nl]=Bekijk video's van Youtube
Comment[nn]=Sjå videoar frå YouTube
Comment[pl]=Oglądaj filmy z Youtube
Comment[pt]=Ver os vídeos do YouTube
Comment[pt_BR]=Assista aos vídeos do YouTube
Comment[ru]=Просмотр видеозаписей с YouTube
Comment[sk]=Pozerať videá z YouTube
Comment[sl]=Oglejte si videe z Youtube
Comment[sr]=Гледајте снимке на Јутјубу
Comment[sr@ijekavian]=Гледајте снимке на Јутјубу
Comment[sr@ijekavianlatin]=Gledajte snimke na YouTubeu
Comment[sr@latin]=Gledajte snimke na YouTubeu
Comment[sv]=Titta på videor från YouTube
Comment[tr]=YouTube'dan video izleyin
Comment[uk]=Перегляд відео з Youtube
Comment[x-test]=xxWatch videos from Youtubexx
Comment[zh_TW]=觀看 Youtube 的影片

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=youtubebackend
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=video
X-KDE-VideoProvider-Name=youtube
X-KDE-Library=pmc_youtubebackend
