[Desktop Entry]
Type=Service
Icon=youtube-pmc
Name=YouTube Videos
Comment=Watch videos from Youtube

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=youtubebackend
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=video
X-KDE-VideoProvider-Name=youtube
X-KDE-Library=pmc_youtubebackend
