[Desktop Entry]
2	
Type=Service
3	
Icon=preferences-desktop-accessibility
4	
Name=Add Media
5	
Comment=Open Add Media to Collection
6	
7	
X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend
8	
9	
X-KDE-PluginInfo-Author=Akshay Ratan
10	
X-KDE-PluginInfo-Email=akshayratan@gmail.com
11	
X-KDE-PluginInfo-Version=1.0
12	
X-KDE-PluginInfo-Category=settings
13	
X-KDE-PluginInfo-License=GPL
14	
X-KDE-PluginInfo-EnabledByDefault=true
15	
X-KDE-Library=pmc_collections
