[Desktop Entry]
Type=Service
Name=LastFmImageFetcher
Name[ca]=LastFmImageFetcher
Name[ca@valencia]=LastFmImageFetcher
Name[da]=LastFmImageFetcher
Name[de]=LastFmImageFetcher
Name[el]=LastFmImageFetcher
Name[en_GB]=LastFmImageFetcher
Name[es]=Extractor de imágenes de LastFM
Name[et]=LastFmImageFetcher
Name[fi]=LastFmImageFetcher
Name[gl]=LastFmImageFetcher
Name[it]=RecuperoImmaginiLastFm
Name[ko]=LastFmImageFetcher
Name[nl]=LastFmImageFetcher
Name[nn]=LastFmImageFetcher
Name[pl]=LastFmImageFetcher
Name[pt]=LastFmImageFetcher
Name[pt_BR]=LastFmImageFetcher
Name[sk]=LastFmImageFetcher
Name[sl]=LastFmImageFetcher
Name[sr]=Добављач слика са ЛастФМ‑а
Name[sr@ijekavian]=Добављач слика са ЛастФМ‑а
Name[sr@ijekavianlatin]=Dobavljač slika sa last.fm‑a
Name[sr@latin]=Dobavljač slika sa last.fm‑a
Name[sv]=Senaste FM-bildhämtare
Name[uk]=Засіб отримання зображень з LastFm
Name[x-test]=xxLastFmImageFetcherxx
Name[zh_CN]=获取 LastFm 图片

X-KDE-ServiceTypes=Plasma/MediaCenter/DataSource

X-KDE-PluginInfo-Name=lastfm
X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_lastfm
