[Desktop Entry]
Type=Service
Name=LastFmImageFetcher
Name[ca]=LastFmImageFetcher
Name[ca@valencia]=LastFmImageFetcher
Name[gl]=LastFmImageFetcher
Name[nl]=LastFmImageFetcher
Name[pt]=LastFmImageFetcher
Name[pt_BR]=LastFmImageFetcher
Name[sv]=Senaste FM-bildhämtare
Name[uk]=Засіб отримання зображень з LastFm
Name[x-test]=xxLastFmImageFetcherxx

X-KDE-ServiceTypes=Plasma/MediaCenter/DataSource

X-KDE-PluginInfo-Name=lastfm
X-KDE-PluginInfo-Author=Shantanu Tushar
X-KDE-PluginInfo-Email=shantanu@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_lastfm
