[Desktop Entry]
Type=Service
Icon=nepomuk
Name=KDE Desktop Search
Name[ca]=Cerca a l'escriptori del KDE
Name[da]=KDE skrivebordssøgning
Name[de]=KDE Desktop-Suche
Name[el]=Αναζήτηση επιφάνειας εργασίας
Name[es]=Búsqueda de escritorio de KDE
Name[fi]=KDE-työpöytähaku
Name[fr]=Recherche sur le bureau KDE
Name[hu]=KDE asztali keresés
Name[it]=Ricerca desktop di KDE
Name[nl]=KDE bureaubladzoeken
Name[pl]=Znajdywanie na pulpicie KDE
Name[pt]=Pesquisa no Ambiente de Trabalho KDE
Name[pt_BR]=Pesquisa no Desktop do KDE
Name[sk]=KDE hľadanie na ploche
Name[sl]=Namizno iskanje KDE
Name[sv]=KDE skrivbordssökning
Name[uk]=Стільничний пошук KDE
Name[x-test]=xxKDE Desktop Searchxx
Comment=Get media from KDE Desktop Search
Comment[ca]=Obté medis de la cerca a l'escriptori del KDE
Comment[da]=Hent medier fra KDE skrivebordssøgning
Comment[de]=Medien von der KDE Desktop-Suche holen
Comment[el]=Ανάκτηση πολυμέσων από την αναζήτηση επιφάνειας εργασίας
Comment[es]=Obtener medios desde la búsqueda de escritorio de KDE
Comment[fi]=Hae mediaa KDE-työpöytähaulla
Comment[fr]=Obtenir des médias par la recherche sur le bureau de KDE
Comment[hu]=Média beszerzése a KDE asztali keresésből
Comment[it]=Ottieni media dalla ricerca desktop di KDE
Comment[nl]=Haal media uit KDE bureaubladzoeken
Comment[pl]=Pobierz multimedia ze znajdywania na pulpicie KDE
Comment[pt]=Obter conteúdos da pesquisa no ambiente de trabalho KDE
Comment[pt_BR]=Obtém a mídia a partir do Pesquisa no Desktop do KDE
Comment[sk]=Získať médiá z KDE hľadania na ploche
Comment[sl]=Pridobite predstavnostne datoteke iz Namiznega iskanja KDE
Comment[sv]=Hämta media från KDE skrivbordssökning
Comment[uk]=Отримати дані із засобу стільничного пошуку KDE
Comment[x-test]=xxGet media from KDE Desktop Searchxx

X-KDE-ServiceTypes=Plasma/MediaCenter/MediaSource

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_kdedesktopsearch
