[Desktop Entry]
Name=Video Engine
Name[en_GB]=Video Engine
Name[es]=Motor de vídeo
Name[et]=Videomootor
Name[fr]=Moteur vidéo
Name[pt]=Motor de Vídeo
Name[pt_BR]=Motor de Vídeo
Name[sv]=Videogränssnitt
Name[tr]=Video Motoru
Name[uk]=Відеорушій
Name[x-test]=xxVideo Enginexx
Comment=An engine that allows you to query web services for videos.
Comment[en_GB]=An engine that allows you to query web services for videos.
Comment[es]=Un motor que le permite consultar servicios web de vídeo.
Comment[et]=Mootor veebiteenustele videode kohta päringute esitamiseks.
Comment[fr]=Un moteur vous permettant de quérir des vidéos à travers des webservices.
Comment[pt]=Um motor que lhe permite pesquisar vídeos em vários serviços na Web.
Comment[pt_BR]=Um motor que lhe permite pesquisar vídeos em vários serviços na Web.
Comment[sv]=Ett gränssnitt som låter dig söka efter videor på webbtjänster.
Comment[uk]=Рушій, який надасть вам змогу звантажувати відео зі служб у мережі.
Comment[x-test]=xxAn engine that allows you to query web services for videos.xx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_video
X-Plasma-EngineName=video
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=video
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
