[Desktop Entry]
Name=Media Containment
Name[fr]=Conteneur pour média
Name[pt]=Contentor Multimédia
Name[pt_BR]=Contentor Multimédia
Name[sv]=Mediaomgivning
Name[uk]=Контейнер мультимедійних даних
Name[x-test]=xxMedia Containmentxx
Comment=A dedicated containment for your media applets.
Comment[fr]=Un conteneur dédié à vos applets de média
Comment[pt]=Um contentor dedicado aos seus leitores multimédia.
Comment[pt_BR]=Um contentor dedicado aos seus leitores multimédia.
Comment[sv]=En särskild omgivning för mediaminiprogram.
Comment[tr]=Ortam gereçleriniz için bir kapsayıcı.
Comment[uk]=Спеціальний контейнер для ваших мультимедійних аплетів.
Comment[x-test]=xxA dedicated containment for your media applets.xx
Type=Service
NoDisplay=true

X-Plasma-ContainmentCategories=desktop
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-KDE-Library=plasma_applet_mediacontainment
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=mediacontainment
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
