[Desktop Entry]
Name=MediaContainment
Name[et]=Meediakonteiner
Name[km]=ការ​ផ្ទុក​មេឌៀ
Name[pt]=Contentor Multimédia
Name[pt_BR]=Contentor Multimédia
Name[sv]=Mediaomgivning
Name[uk]=Контейнер мультимедійних даних
Name[x-test]=xxMediaContainmentxx
Comment=A test applet for Media Center.
Comment[en_GB]=A test applet for Media Centre.
Comment[et]=Meediakeskuse testaplett
Comment[fr]=Une applet de test pour Media Center
Comment[km]=សាកល្បង​អាប់ភ្លេត​សម្រាប់​មជ្ឍមណ្ឌល​មេឌៀ ។
Comment[pt]=Uma 'applet' de testes para Centros Multimédia.
Comment[pt_BR]=Uma 'applet' de testes para Centros Multimédia.
Comment[sv]=Ett miniprogram för test av Media Center.
Comment[uk]=Тестовий аплет медіа-центру.
Comment[x-test]=xxA test applet for Media Center.xx
Type=Service
NoDisplay=true

X-Plasma-ContainmentCategories=desktop
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-KDE-Library=plasma_applet_mediacontainment
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=mediacontainment
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
