[Desktop Entry]
Type=Service
Icon=gwenview
Name=Pictures
Name[ar]=الصّور
Name[ca]=Imatges
Name[ca@valencia]=Imatges
Name[cs]=Obrázky
Name[da]=Billeder
Name[de]=Bilder
Name[el]=Εικόνες
Name[en_GB]=Pictures
Name[es]=Imágenes
Name[et]=Pildid
Name[fi]=Kuvat
Name[fr]=Images
Name[gl]=Imaxes
Name[hu]=Képek
Name[ia]=Photos
Name[id]=Gambar
Name[it]=Immagini
Name[ko]=사진
Name[lt]=Paveikslėliai
Name[nl]=Afbeeldingen
Name[nn]=Bilete
Name[pl]=Zdjęcia
Name[pt]=Imagens
Name[pt_BR]=Imagens
Name[ro]=Poze
Name[ru]=Изображения
Name[sk]=Obrázky
Name[sl]=Slike
Name[sr]=Слике
Name[sr@ijekavian]=Слике
Name[sr@ijekavianlatin]=Slike
Name[sr@latin]=Slike
Name[sv]=Bilder
Name[tr]=Resimler
Name[uk]=Зображення
Name[x-test]=xxPicturesxx
Name[zh_CN]=图片
Name[zh_TW]=圖片
Comment=See the pictures on your device
Comment[ar]=طالع الصّور في جهازك
Comment[bs]=Gledaj slike na svom uređaju
Comment[ca]=Mostra les imatges en el dispositiu
Comment[ca@valencia]=Mostra les imatges en el dispositiu
Comment[cs]=Prohlížejte si obrázky na vašem zařízení
Comment[da]=Se billederne på din enhed
Comment[de]=Betrachten Sie Bilder auf Ihrem Gerät
Comment[el]=Δείτε τις εικόνες στη συσκευή σας
Comment[en_GB]=See the pictures on your device
Comment[es]=Vea las imágenes de su dispositivo
Comment[et]=Seadmel leiduvate piltide vaatamine
Comment[fi]=Katso laitteellasi olevia kuvia
Comment[fr]=Regardez les images sur votre périphérique
Comment[gl]=Vexa as imaxes no seu dispositivo
Comment[hu]=Képek megtekintése az eszközén
Comment[id]=Lihat gambar pada perangkatmu
Comment[it]=Guarda le immagini sul tuo dispositivo
Comment[ko]=내 장치의 사진 보기
Comment[lt]=Žiūrėti paveikslėlius Jūsų įrenginyje
Comment[lv]=Skatīt attēlus jūsu ierīcē
Comment[nl]=Zie de beelden op uw apparaat
Comment[nn]=Sjå bilete på eininga
Comment[pl]=Oglądaj zdjęcia ze swojego urządzenia
Comment[pt]=Ver as imagens no seu dispositivo
Comment[pt_BR]=Veja as imagens no seu dispositivo
Comment[ru]=Просмотр рисунков и фотографий на вашем устройстве
Comment[sk]=Prezerať obrázky vo vašom zariadení
Comment[sl]=Oglejte si slike z vaše naprave
Comment[sr]=Разгледајте слике на свом уређају
Comment[sr@ijekavian]=Разгледајте слике на свом уређају
Comment[sr@ijekavianlatin]=Razgledajte slike na svom uređaju
Comment[sr@latin]=Razgledajte slike na svom uređaju
Comment[sv]=Titta på bilderna på en enhet
Comment[tr]=Cihazınızdaki resimlere bakın
Comment[uk]=Переглянути зображення на вашому пристрої
Comment[x-test]=xxSee the pictures on your devicexx
Comment[zh_CN]=查看在您的设备上的图片
Comment[zh_TW]=看您的裝置上的所有圖片

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=image
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatapicturebackend
