[Desktop Entry]
Name=Cover Fetcher Engine
Name[pt]=Motor de Obtenção de Capas
Name[sv]=Gränssnitt för omslagshämtning
Name[uk]=Рушій отримання обкладинок
Name[x-test]=xxCover Fetcher Enginexx
Comment=An Engine able to fetch covers from last.fm.
Comment[pt]=Um motor que consegue obter capas da Last.fm.
Comment[sv]=Ett gränssnitt som klarar av att hämta omslag från last.fm.
Comment[uk]=Рушій, здатний отримувати обкладинки з last.fm.
Comment[x-test]=xxAn Engine able to fetch covers from last.fm.xx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_coverfetcher
X-Plasma-EngineName=coverfetcher
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=coverfetcher
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
