[Desktop Entry]
Type=Service
Icon=folder
Name=Local Files browsing plugin.
Name[en_GB]=Local Files browsing plugin.
Name[es]=Complemento de exploración de archivos locales.
Name[et]=Kohalike failide sirvimine plugin.
Name[fr]=Module de parcours des fichiers locaux
Name[nl]=Plugin voor het lokaal bladeren in bestanden.
Name[pt]='Plugin' de navegação nos ficheiros locais.
Name[pt_BR]=Plugin de navegação nos arquivos locais.
Name[sv]=Insticksprogram för bläddring i lokala filer
Name[tr]=Yerel dosya tarama eklentisi.
Name[uk]=Додаток для перегляду локальних файлів.
Name[x-test]=xxLocal Files browsing plugin.xx
Comment=A plugin for the mediabrowser applet that allows local file browsing.
Comment[en_GB]=A plugin for the mediabrowser applet that allows local file browsing.
Comment[es]=Un complemento para la miniaplicación de exploración de medios que permite explorar archivos locales.
Comment[et]=Meediasirvija plugin kohalike failide sirvimiseks.
Comment[fr]=Un module pour l'applet mediabrowser permettant la navigation à travers les fichiers locaux
Comment[pt]=Um 'plugin' para a 'applet' de leitura multimédia, que permite a navegação nos ficheiros locais.
Comment[pt_BR]=Um plugin para o mini-aplicativo de leitor multimídia, que permite a navegação nos arquivos locais.
Comment[sv]=Ett insticksprogram för miniprogrammet Mediabläddrare som tillåter bläddring i lokala filer.
Comment[uk]=Додаток до аплету переглядача носіїв, який надає змогу переглядати локальні файли.
Comment[x-test]=xxA plugin for the mediabrowser applet that allows local file browsing.xx

X-KDE-ServiceTypes=Plasma/MediaCenter/ModelPackage

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=mc_localfiles
