[Desktop Entry]
Type=Service
Icon=tools-rip-video-cd
Name=Videos
Name[ast]=Videos
Name[ca]=Vídeos
Name[cs]=Videa
Name[da]=Videoer
Name[en_GB]=Videos
Name[es]=Vídeos
Name[fi]=Videot
Name[it]=Video
Name[nl]=Video's
Name[pl]=Filmy
Name[pt]=Vídeos
Name[pt_BR]=Vídeos
Name[sk]=Videá
Name[sv]=Videor
Name[tr]=Videolar
Name[uk]=Відео
Name[x-test]=xxVideosxx
Name[zh_CN]=视频
Comment=Watch the videos on your device
Comment[ar]=شاهد الفيديوهات في جهازك
Comment[ast]=Ve los videos nel to preséu
Comment[bs]=Gledaj videozapise na svom uređaju
Comment[ca]=Mostra els vídeos en el dispositiu
Comment[ca@valencia]=Mostra els vídeos en el dispositiu
Comment[cs]=Dívejte se na videa na vašem zařízení
Comment[da]=Se videoerne på din enhed
Comment[de]=Betrachten Sie Videos auf Ihrem Gerät
Comment[el]=Παρακολουθήστε τα βίντεο στη συσκευή σας
Comment[en_GB]=Watch the videos on your device
Comment[es]=Ver videos en su dispositivo
Comment[et]=Seadmel leiduvate videode vaatamine
Comment[fi]=Katso laitteellasi olevia videoita
Comment[fr]=Regardez les vidéos sur votre périphérique
Comment[gl]=Vexa os vídeos no seu dispositivo
Comment[hu]=Videók megnézése az eszközén
Comment[id]=Menonton video pada perangkat anda
Comment[it]=Guarda i video sul tuo dispositivo
Comment[lt]=Žiūrėti vaizdo įrašus Jūsų įrenginyje
Comment[lv]=Skatīt videoklipus jūsu ierīcē
Comment[nl]=Bekijk de video's op uw apparaat
Comment[pl]=Oglądaj filmy ze swojego urządzenia
Comment[pt]=Ver os vídeos no seu dispositivo
Comment[pt_BR]=Assista aos vídeos no seu dispositivo
Comment[sk]=Pozerať videá vo vašom zariadení
Comment[sl]=Oglejte si videe z vaše naprave
Comment[sv]=Titta på videorna på en enhet
Comment[tr]=Cihazınızdaki videoları izleyin
Comment[uk]=Переглянути відео з вашого пристрою
Comment[x-test]=xxWatch the videos on your devicexx
Comment[zh_TW]=看您的裝置上的所有影片

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=video
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=video
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatavideobackend
