[Desktop Entry]
Type=Service
Icon=tools-rip-video-cd
Name=All videos
Name[bs]=Svi Videozapisi
Name[ca]=Tots els vídeos
Name[ca@valencia]=Tots els vídeos
Name[cs]=Všechna videa
Name[da]=Alle videoer
Name[de]=Alle Videos
Name[el]=Όλα τα βίντεο
Name[en_GB]=All videos
Name[es]=Todos los videos
Name[et]=Kõik videod
Name[fi]=Kaikki videot
Name[fr]=Toutes les vidéos
Name[gl]=Todos os vídeos
Name[hu]=Minden videó
Name[id]=Semua video
Name[it]=Tutti i video
Name[lv]=Visi videoklipi
Name[mr]=सर्व व्हिडीओ
Name[nl]=Alle video's
Name[pl]=Wszystkie filmy
Name[pt]=Todos os vídeos
Name[pt_BR]=Todos os vídeos
Name[sk]=Všetky videá
Name[sl]=Vsi videi
Name[sv]=Alla videor
Name[tr]=Tüm videolar
Name[uk]=Всі відео
Name[x-test]=xxAll videosxx
Name[zh_TW]=所有影片
Comment=Watch the videos on your device
Comment[bs]=Gledaj videozapise na svom uređaju
Comment[ca]=Mostra els vídeos en el dispositiu
Comment[ca@valencia]=Mostra els vídeos en el dispositiu
Comment[cs]=Dívejte se na videa na vašem zařízení
Comment[da]=Se videoerne på din enhed
Comment[de]=Betrachten Sie Videos auf Ihrem Gerät
Comment[el]=Παρακολουθήστε τα βίντεο στη συσκευή σας
Comment[en_GB]=Watch the videos on your device
Comment[es]=Ver videos en su dispositivo
Comment[et]=Seadmel leiduvate videode vaatamine
Comment[fi]=Katso laitteellasi olevia videoita
Comment[fr]=Regardez les vidéos sur votre périphérique
Comment[gl]=Vexa os vídeos no seu dispositivo
Comment[hu]=Videók megnézése az eszközén
Comment[id]=Menonton video pada perangkat anda
Comment[it]=Guarda i video sul tuo dispositivo
Comment[lv]=Skatīt videoklipus jūsu ierīcē
Comment[nl]=Bekijk de video's op uw apparaat
Comment[pl]=Oglądaj filmy ze swojego urządzenia
Comment[pt]=Ver os vídeos no seu dispositivo
Comment[pt_BR]=Assista aos vídeos no seu dispositivo
Comment[sk]=Pozerať videá vo vašom zariadení
Comment[sl]=Oglejte si videe z vaše naprave
Comment[sv]=Titta på videorna på en enhet
Comment[tr]=Cihazınızdaki videoları izleyin
Comment[uk]=Переглянути відео з вашого пристрою
Comment[x-test]=xxWatch the videos on your devicexx
Comment[zh_TW]=看您的裝置上的所有影片

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=video
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=video
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatavideobackend
