[Desktop Entry]
Type=Service
Icon=image-x-generic
Name=All pictures
Name[ca]=Totes les imatges
Name[ca@valencia]=Totes les imatges
Name[cs]=Všechny obrázky
Name[da]=Alle billeder
Name[de]=Alle Bilder
Name[es]=Todas las imágenes
Name[et]=Kõik pildid
Name[fi]=Kaikki kuvat
Name[fr]=Toutes les images
Name[gl]=Todas as imaxes
Name[hu]=Minden kép
Name[it]=Tutte le immagini
Name[mr]=सर्व प्रतिमा
Name[nl]=Alle afbeeldingen
Name[pt]=Todas as imagens
Name[pt_BR]=Todas as imagens
Name[sk]=Všetky obrázky
Name[sl]=Vse slike
Name[sv]=Alla bilder
Name[tr]=Tüm resimler
Name[uk]=Всі зображення
Name[x-test]=xxAll picturesxx
Name[zh_TW]=所有圖片
Comment=See the pictures on your device
Comment[ca]=Mostra les imatges en el dispositiu
Comment[ca@valencia]=Mostra les imatges en el dispositiu
Comment[cs]=Prohlížejte si obrázky na vašem zařízení
Comment[da]=Se billederne på din enhed
Comment[de]=Betrachten Sie Bilder auf Ihrem Gerät
Comment[es]=Ver imágenes en su dispositivo
Comment[et]=Seadmel leiduvate piltide vaatamine
Comment[fi]=Katso laitteellasi olevia kuvia
Comment[fr]=Regardez les images sur votre périphérique
Comment[it]=Guarda le immagini sul tuo dispositivo
Comment[nl]=Zie de beelden op uw apparaat
Comment[pt]=Ver as imagens no seu dispositivo
Comment[pt_BR]=Veja as imagens no seu dispositivo
Comment[sk]=Prezerať obrázky vo vašom zariadení
Comment[sl]=Oglejte si slike z vaše naprave
Comment[sv]=Titta på bilderna på en enhet
Comment[tr]=Cihazınızdaki resimlere bakın
Comment[uk]=Переглянути зображення на вашому пристрої
Comment[x-test]=xxSee the pictures on your devicexx
Comment[zh_TW]=看您的裝置上的所有圖片

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatapicturebackend
