[Desktop Entry]
Type=Service
Icon=image-x-generic
Name=All pictures
Name[cs]=Všechny obrázky
Name[da]=Alle billeder
Name[et]=Kõik pildid
Name[fi]=Kaikki kuvat
Name[hu]=Minden kép
Name[nl]=Alle afbeeldingen
Name[pt]=Todas as imagens
Name[pt_BR]=Todas as imagens
Name[sk]=Všetky obrázky
Name[sv]=Alla bilder
Name[uk]=Всі зображення
Name[x-test]=xxAll picturesxx
Comment=See the pictures on your device
Comment[da]=Se billederne på din enhed
Comment[et]=Seadmel leiduvate piltide vaatamine
Comment[pt]=Ver as imagens no seu dispositivo
Comment[pt_BR]=Ver as imagens no seu dispositivo
Comment[sk]=Prezerať obrázky na vašom zariadení
Comment[sv]=Titta på bilderna på en enhet
Comment[uk]=Переглянути зображення на вашому пристрої
Comment[x-test]=xxSee the pictures on your devicexx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatapicturebackend
