[Desktop Entry]
Type=Service
Icon=tools-rip-audio-cd
Name=Music
Name[ca]=Música
Name[es]=Música
Name[nl]=Muziek
Name[pl]=Muzyka
Name[pt]=Música
Name[pt_BR]=Músicas
Name[sv]=Musik
Name[x-test]=xxMusicxx
Name[zh_CN]=音乐
Comment=Listen to the music on your device
Comment[ca]=Escolta la música en el dispositiu
Comment[es]=Escuche la música de su dispositivo
Comment[nl]=Naar muziek luisteren op us apparaat
Comment[pl]=Słuchaj muzyki ze swojego urządzenia
Comment[pt]=Ouvir a música no seu dispositivo
Comment[pt_BR]=Ouça as músicas no seu dispositivo
Comment[sv]=Lyssna på musiken på en enhet
Comment[x-test]=xxListen to the music on your devicexx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=audio
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=audio
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatamusicbackend
