[Desktop Entry]
Type=Service
Icon=tools-rip-audio-cd
Name=Music
Name[ca]=Música
Name[cs]=Hudba
Name[da]=Musik
Name[en_GB]=Music
Name[es]=Música
Name[fi]=Musiikki
Name[it]=Musica
Name[nl]=Muziek
Name[pl]=Muzyka
Name[pt]=Música
Name[pt_BR]=Músicas
Name[sk]=Hudba
Name[sv]=Musik
Name[tr]=Müzik
Name[uk]=Музика
Name[x-test]=xxMusicxx
Comment=Listen to the music on your device
Comment[ar]=استمع إلى الموسيقى في جهازك
Comment[bs]=Slušaj muziku na svom uređaju
Comment[ca]=Escolta la música en el dispositiu
Comment[ca@valencia]=Escolta la música en el dispositiu
Comment[cs]=Poslouchejte hudbu z vašeho zařízení
Comment[da]=Lyt til musikken på din enhed
Comment[de]=Hören Sie Musik auf Ihrem Gerät
Comment[el]=Ακούστε τη μουσική στη συσκευή σας
Comment[en_GB]=Listen to the music on your device
Comment[es]=Escuchar música en su dispositivo
Comment[et]=Seadmel leiduva muusika kuulamine
Comment[fi]=Kuuntele laitteellasi olevaa musiikkia
Comment[fr]=Écoutez de la musique sur votre périphérique
Comment[gl]=Escoite a música no seu dispositivo
Comment[hu]=Zene hallgatása az eszközén
Comment[id]=Dengarkan musik pada perangkat anda
Comment[it]=Ascolta la musica sul tuo dispositivo
Comment[lt]=Klausytis muzikos Jūsų įrenginyje
Comment[lv]=Klausīties mūziku jūsu ierīcē
Comment[nl]=Naar muziek luisteren op us apparaat
Comment[pl]=Słuchaj muzyki ze swojego urządzenia
Comment[pt]=Ouvir a música no seu dispositivo
Comment[pt_BR]=Ouça as músicas no seu dispositivo
Comment[sk]=Počúvať hudbu vo vašom zariadení
Comment[sl]=Poslušajte glasbo z vaše naprave
Comment[sv]=Lyssna på musiken på en enhet
Comment[tr]=Cihazınızdaki müziği dinleyin
Comment[uk]=Відтворити музичні твори з вашого пристрою
Comment[x-test]=xxListen to the music on your devicexx
Comment[zh_TW]=聽您的裝置上的所有音樂

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=audio
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=audio
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatamusicbackend
