[Desktop Entry]
Type=Service
Icon=folder-video
Name=Local videos
Name[de]=Lokale Videos
Name[et]=Kohalikud videod
Name[fr]=Vidéos locales
Name[nds]=Lokaal Videos
Name[nl]=Lokale video's
Name[pt]=Vídeos locais
Name[pt_BR]=Vídeos locais
Name[sv]=Lokala videor
Name[uk]=Локальні відеофайли
Name[x-test]=xxLocal videosxx
Comment=A plugin for the mediabrowser applet that allows local file browsing
Comment[et]=Meediasirvija plugin kohalike failide sirvimiseks
Comment[fr]=Un module externe pour l'applet du navigateur multimédia permettant la navigation dans les fichiers locaux
Comment[nl]=Een plugin voor de mediabrowser-applet die bladeren door lokale bestanden mogelijk maakt
Comment[pt]=Um 'plugin' para a 'applet' de leitura multimédia, que permite a navegação nos ficheiros locais.
Comment[pt_BR]=Um plug-in para o miniaplicativo leitor multimídia, que permite a navegação nos arquivos locais
Comment[sv]=Ett insticksprogram för miniprogrammet Mediabläddrare som tillåter bläddring i lokala filer
Comment[uk]=Додаток до аплету переглядача носіїв, який надає змогу переглядати локальні файли
Comment[x-test]=xxA plugin for the mediabrowser applet that allows local file browsingxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localvideos
