[Desktop Entry]
Name=Picture Engine
Name[et]=Pildimootor
Name[fr]=Moteur d'images
Name[nl]=Afbeeldingsengine
Name[pt]=Motor de Imagens
Name[pt_BR]=Mecanismo de imagem
Name[sv]=Bildgränssnitt
Name[uk]=Рушій зображень
Name[x-test]=xxPicture Enginexx

Comment=An engine that allows you to query web services for pictures.
Comment[et]=Mootor veebiteenustele piltide kohta päringute esitamiseks.
Comment[fr]=Un moteur permettant de rechercher des images sur les services web.
Comment[nl]=Een engine die u in staat stelt om afbeeldingen op te zoeken in webservices.
Comment[pt]=Um motor que lhe permite pesquisar imagens em vários serviços na Web.
Comment[pt_BR]=Um mecanismo que lhe permite pesquisar imagens em vários serviços na Web.
Comment[sv]=Ett gränssnitt som låter dig söka efter bilder på webbtjänster.
Comment[uk]=Рушій, який надасть вам змогу шукати зображення за допомогою вебслужб.
Comment[x-test]=xxAn engine that allows you to query web services for pictures.xx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_picture
X-Plasma-EngineName=picture
X-KDE-PluginInfo-Author=Onur-Hayri Bakici
X-KDE-PluginInfo-Email=thehayro@gmail.com
X-KDE-PluginInfo-Name=picture
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
