[Desktop Entry]
Type=Service
Icon=folder-image
Name=Browse Pictures
Name[ca]=Explora les imatges
Name[ca@valencia]=Explora les imatges
Name[cs]=Procházet obrázky
Name[da]=Gennemse billeder
Name[de]=Bilder durchsuchen
Name[es]=Explorar imágenes
Name[et]=Piltide sirvimine
Name[fi]=Selaa kuvia
Name[fr]=Navigation dans les images
Name[hu]=Képek tallózása
Name[km]=រកមើល​រូបភាព
Name[nl]=Door afbeeldingen bladeren
Name[pl]=Przeglądaj zdjęcia
Name[pt]=Navegar pelas Imagens
Name[pt_BR]=Navegar pelas imagens
Name[sk]=Prehľadávať obrázky
Name[sv]=Bläddra i bilder
Name[uk]=Навігація зображеннями
Name[x-test]=xxBrowse Picturesxx

Comment=Browse your device for pictures
Comment[ca]=Cerca al dispositiu per a les imatges
Comment[ca@valencia]=Cerca al dispositiu per a les imatges
Comment[cs]=Vyhledat obrázky na zařízení
Comment[da]=Gennemse din enhed for billeder
Comment[de]=Durchsuchen Sie Ihr Gerät nach Bildern
Comment[et]=Seadme sirvimine piltide leidmiseks
Comment[nl]=Door uw apparaat bladeren naar afbeeldingen
Comment[pt]=Navegar pelas imagens do seu dispositivo
Comment[pt_BR]=Navega pelas imagens do seu dispositivo
Comment[sk]=Prehľadať obrázky na vašom zariadení
Comment[sv]=Bläddra på en enhet efter bilder
Comment[uk]=Переглянути записи зображень на вашому пристрої
Comment[x-test]=xxBrowse your device for picturesxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localpictures
