[Desktop Entry]
Type=Service
Icon=folder-image
Name=Browse Pictures
Name[de]=Bilder durchsuchen
Name[nl]=Door afbeeldingen bladeren
Name[pt]=Navegar pelas Imagens
Name[pt_BR]=Navegar pelas imagens
Name[sv]=Bläddra i bilder
Name[uk]=Навігація зображеннями
Name[x-test]=xxBrowse Picturesxx

Comment=A plugin for the mediabrowser applet that allows local file browsing
Comment[da]=Et plugin til mediebrowser-appletten som muliggør at gennemse lokale filer
Comment[es]=Un complemento para la miniaplicación del explorador multimedia que permite explorar archivos locales
Comment[et]=Meediasirvija plugin kohalike failide sirvimiseks
Comment[fr]=Un module externe pour l'applet du navigateur multimédia permettant la navigation dans les fichiers locaux
Comment[nl]=Een plugin voor de mediabrowser-applet die bladeren door lokale bestanden mogelijk maakt
Comment[pl]=Wtyczka dla apletu przeglądarki mediów, która pozwala na przeglądanie plików lokalnych
Comment[pt]=Um 'plugin' para a 'applet' de leitura multimédia, que permite a navegação nos ficheiros locais.
Comment[pt_BR]=Um plug-in para o miniaplicativo leitor multimídia, que permite a navegação nos arquivos locais
Comment[sv]=Ett insticksprogram för miniprogrammet Mediabläddrare som tillåter bläddring i lokala filer
Comment[uk]=Додаток до аплету переглядача носіїв, який надає змогу переглядати локальні файли
Comment[x-test]=xxA plugin for the mediabrowser applet that allows local file browsingxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localpictures
