[Desktop Entry]
Type=Service
Icon=folder-image
Name=Browse Pictures
Name[cs]=Procházet obrázky
Name[da]=Gennemse billeder
Name[es]=Examinar imágenes
Name[nl]=Door afbeeldingen bladeren
Name[pt]=Navegar pelas Imagens
Name[pt_BR]=Navegar pelas imagens
Name[sk]=Prehľadávať obrázky
Name[sv]=Bläddra i bilder
Name[uk]=Навігація зображеннями

Comment=Browse your device for pictures
Comment[cs]=Vyhledat obrázky na zařízení
Comment[da]=Gennemse din enhed for billeder
Comment[es]=Examinar su dispositivo por imágenes
Comment[nl]=Door uw apparaat bladeren naar afbeeldingen
Comment[pt]=Navegar pelas imagens do seu dispositivo
Comment[pt_BR]=Navega pelas imagens do seu dispositivo
Comment[sk]=Prehľadávať obrázky vo vašom zariadení
Comment[sv]=Bläddra på en enhet efter bilder
Comment[uk]=Переглянути записи зображень на вашому пристрої

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localpictures
