[Desktop Entry]
Type=Service
Icon=folder-sound
Name=Music Metadata
Name[pt]=Meta-Dados Musicais
Name[pt_BR]=Metadados da música
Name[sv]=Musikmetadata
Name[uk]=Метадані композиції
Name[x-test]=xxMusic Metadataxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_metadatamusicbackend
