[Desktop Entry]
Type=Service
Icon=folder-video
Name=Browse videos
Name[cs]=Procházet videa
Name[da]=Gennemse videoer
Name[es]=Examinar videos
Name[nl]=Door video's bladeren
Name[pt]=Navegar pelos Vídeos
Name[pt_BR]=Navegar pelos vídeos
Name[sk]=Prehľadávať videá
Name[sv]=Bläddra i videor
Name[uk]=Навігація відео

Comment=Browse your device for videos
Comment[cs]=Vyhledat videa na zařízení
Comment[da]=Gennemse din enhed for videoer
Comment[es]=Examinar su dispositivo por videos
Comment[nl]=Door uw apparaat bladeren naar video's
Comment[pt]=Navegar pelos vídeos do seu dispositivo
Comment[pt_BR]=Navega pelos vídeos do seu dispositivo
Comment[sk]=Prehľadávať videá vo vašom zariadení
Comment[sv]=Bläddra på en enhet efter videor
Comment[uk]=Переглянути записи відео на вашому пристрої

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=video
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localvideos
