[Desktop Entry]
Type=Service
Icon=folder-video
Name=Browse videos
Name[da]=Gennemse videoer
Name[de]=Videos durchsuchen
Name[es]=Explorar vídeos
Name[et]=Videode sirvimine
Name[fi]=Selaa videoita
Name[fr]=Navigation dans les vidéos
Name[km]=រក​មើល​វីដេអូ
Name[nl]=Door video's bladeren
Name[pl]=Przeglądaj filmy
Name[pt]=Navegar pelos Vídeos
Name[pt_BR]=Navegar pelos vídeos
Name[sv]=Bläddra i videor
Name[uk]=Навігація відео
Name[x-test]=xxBrowse videosxx

Comment=A plugin for the mediabrowser applet that allows local file browsing
Comment[da]=Et plugin til mediebrowser-appletten som muliggør at gennemse lokale filer
Comment[es]=Un complemento para la miniaplicación del explorador multimedia que permite explorar archivos locales
Comment[et]=Meediasirvija plugin kohalike failide sirvimiseks
Comment[fr]=Un module externe pour l'applet du navigateur multimédia permettant de parcourir les fichiers locaux
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់​អាប់ភ្លេត​កម្មវិធី​រុករក​មេឌៀ​ដែល​អនុញ្ញាត​ឲ្យ​រកមើល​ឯកសារ​មូលដ្ឋាន
Comment[nl]=Een plugin voor de mediabrowser-applet die bladeren door lokale bestanden mogelijk maakt
Comment[pl]=Wtyczka dla apletu przeglądarki mediów, która pozwala na przeglądanie plików lokalnych
Comment[pt]=Um 'plugin' para a 'applet' de leitura multimédia, que permite a navegação nos ficheiros locais.
Comment[pt_BR]=Um plugin para o miniaplicativo leitor multimídia, que permite a navegação nos arquivos locais
Comment[sv]=Ett insticksprogram för miniprogrammet Mediabläddrare som tillåter bläddring i lokala filer
Comment[uk]=Додаток до аплету переглядача носіїв, який надає змогу переглядати локальні файли
Comment[x-test]=xxA plugin for the mediabrowser applet that allows local file browsingxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localvideos
