[Desktop Entry]
Type=Service
Icon=folder-video
Name=Browse videos
Name[ca]=Explora els vídeos
Name[ca@valencia]=Explora els vídeos
Name[cs]=Procházet videa
Name[da]=Gennemse videoer
Name[de]=Videos durchsuchen
Name[es]=Examinar videos
Name[et]=Videode sirvimine
Name[fi]=Selaa videoita
Name[fr]=Naviguer dans des dossiers de vidéos
Name[hu]=Videók tallózása
Name[it]=Sfoglia video
Name[km]=រក​មើល​វីដេអូ
Name[nl]=Door video's bladeren
Name[pl]=Przeglądaj filmy
Name[pt]=Navegar pelos Vídeos
Name[pt_BR]=Navegar pelos vídeos
Name[sk]=Prehľadávať videá
Name[sl]=Brskanje po videih
Name[sv]=Bläddra i videor
Name[tr]=Videolara gözat
Name[uk]=Навігація відео
Name[x-test]=xxBrowse videosxx
Name[zh_TW]=瀏覽影片

Comment=Browse your device for videos
Comment[ca]=Cerca al dispositiu per als vídeos
Comment[ca@valencia]=Cerca al dispositiu per als vídeos
Comment[cs]=Vyhledat videa na zařízení
Comment[da]=Gennemse din enhed for videoer
Comment[de]=Durchsuchen Sie Ihr Gerät nach Videos
Comment[es]=Examinar su dispositivo por videos
Comment[et]=Seadme sirvimine videode leidmiseks
Comment[fi]=Selaa laitteellasi olevia videoita
Comment[fr]=Naviguer dans des dossiers de vidéos sur votre périphérique
Comment[it]=Sfoglia il dispositivo alla ricerca di video
Comment[nl]=Door uw apparaat bladeren naar video's
Comment[pt]=Navegar pelos vídeos do seu dispositivo
Comment[pt_BR]=Navega pelos vídeos do seu dispositivo
Comment[sk]=Prehľadávať videá vo vašom zariadení
Comment[sl]=Prebrskajte vašo napravo za videi
Comment[sv]=Bläddra på en enhet efter videor
Comment[tr]=Cihazınızdaki videolara göz atın
Comment[uk]=Переглянути записи відео на вашому пристрої
Comment[x-test]=xxBrowse your device for videosxx
Comment[zh_TW]=瀏覽您的裝置的影片

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=video
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_localvideos
