[Desktop Entry]
Type=Service
Icon=image-x-generic
Name=Picasa
Name[cs]=Picasa
Name[de]=Picasa
Name[es]=Picasa
Name[et]=Picasa
Name[hu]=Picasa
Name[ja]=Picasa
Name[nds]=Picasa
Name[nl]=Picasa
Name[pl]=Picasa
Name[pt]=Picasa
Name[pt_BR]=Picasa
Name[sk]=Picasa
Name[sv]=Picasa
Name[ug]=Picasa
Name[uk]=Picasa
Name[x-test]=xxPicasaxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_picasabackend
