[Desktop Entry]
Type=Service
Icon=image-x-generic
Name=Picasa
Name[ca]=Picasa
Name[ca@valencia]=Picasa
Name[cs]=Picasa
Name[da]=Picasa
Name[de]=Picasa
Name[es]=Picasa
Name[et]=Picasa
Name[fi]=Picasa
Name[fr]=Picasa
Name[hu]=Picasa
Name[ja]=Picasa
Name[nds]=Picasa
Name[nl]=Picasa
Name[pl]=Picasa
Name[pt]=Picasa
Name[pt_BR]=Picasa
Name[sk]=Picasa
Name[sv]=Picasa
Name[ug]=Picasa
Name[uk]=Picasa
Name[x-test]=xxPicasaxx
Comment=See pictures from your Picasa account
Comment[ca]=Mostra les imatges del vostre compte de «Picasa»
Comment[ca@valencia]=Mostra les imatges del vostre compte de «Picasa»
Comment[da]=Se billeder fra din Picasa-konto
Comment[de]=Bilder von Ihrem Picasa-Zugang ansehen
Comment[es]=Ver imágenes de su cuenta de Picassa
Comment[et]=Oma Picasa konto piltide vaatamine
Comment[fr]=Regardez les images provenant de votre compte Picasa
Comment[nl]=Zie beelden uit uw Picasa-account
Comment[pt]=Ver imagens da sua conta do Picasa
Comment[pt_BR]=Ver imagens da sua conta do Picasa
Comment[sk]=Prezerať obrázky z vášho účtu Picasa
Comment[sv]=Titta på bilder från ditt Picasa-konto
Comment[uk]=Переглянути зображення з вашого облікового запису Picasa
Comment[x-test]=xxSee pictures from your Picasa accountxx

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_picasabackend
