[Desktop Entry]
Type=Service
Icon=image-x-generic
Name=Picasa
Name[ar]=بيكاسا
Name[ast]=Picasa
Name[bs]=Picasa
Name[ca]=Picasa
Name[ca@valencia]=Picasa
Name[cs]=Picasa
Name[da]=Picasa
Name[de]=Picasa
Name[el]=Picasa
Name[en_GB]=Picasa
Name[es]=Picasa
Name[et]=Picasa
Name[fi]=Picasa
Name[fr]=Picasa
Name[gl]=Picasa
Name[hu]=Picasa
Name[id]=Picasa
Name[it]=Picasa
Name[ja]=Picasa
Name[lt]=Picasa
Name[lv]=Picasa
Name[mr]=पिकासा
Name[nds]=Picasa
Name[nl]=Picasa
Name[pl]=Picasa
Name[pt]=Picasa
Name[pt_BR]=Picasa
Name[sk]=Picasa
Name[sl]=Picasa
Name[sv]=Picasa
Name[tr]=Picasa
Name[ug]=Picasa
Name[uk]=Picasa
Name[x-test]=xxPicasaxx
Name[zh_TW]=Picasa
Comment=See pictures from your Picasa account
Comment[ar]=طالع صورك من حسابك على بيكاسا
Comment[ast]=Mira les semeyes de la to cuenta Picasa
Comment[bs]=Pregledaj slike sa svog Picasa računa
Comment[ca]=Mostra les imatges del vostre compte de «Picasa»
Comment[ca@valencia]=Mostra les imatges del vostre compte de «Picasa»
Comment[cs]=Prohlížejte si obrázky z vašeho účtu Picasa
Comment[da]=Se billeder fra din Picasa-konto
Comment[de]=Bilder von Ihrem Picasa-Zugang ansehen
Comment[el]=Δείτε τις εικόνες από το λογαριασμό σας στο Picasa
Comment[en_GB]=See pictures from your Picasa account
Comment[es]=Ver imágenes desde su cuenta de Picasa
Comment[et]=Oma Picasa konto piltide vaatamine
Comment[fi]=Katso Picasa-tilisi kuvia
Comment[fr]=Regardez des images provenant de votre compte Picasa
Comment[gl]=Vexa imaxes da súa conta de Picasa
Comment[hu]=Képek megtekintése a Picasa fiókból
Comment[id]=Lihat gambar dari akun Picasa anda
Comment[it]=Guarda le immagini del tuo account Picasa
Comment[lt]=Žiūrėti paveikslėlius iš Jūsų Picasa paskyros
Comment[lv]=Skatīt attēlus no jūsu Picasa konta
Comment[nl]=Zie beelden uit uw Picasa-account
Comment[pl]=Oglądaj zdjęcia ze swojego konta Picasa
Comment[pt]=Ver imagens da sua conta do Picasa
Comment[pt_BR]=Veja as imagens da sua conta do Picasa
Comment[sk]=Prezerať obrázky v vášho účtu Picasa
Comment[sl]=Oglejte si slike iz vašega računa Picasa
Comment[sv]=Titta på bilder från ditt Picasa-konto
Comment[tr]=Picasa hesabınızdaki resimlerinize bakın
Comment[uk]=Переглянути зображення з вашого облікового запису Picasa
Comment[x-test]=xxSee pictures from your Picasa accountxx
Comment[zh_TW]=從您的 Picasa 帳號中觀看圖片

X-KDE-ServiceTypes=Plasma/MediaCenter/BrowsingBackend

X-KDE-PluginInfo-Name=picasabackend
X-KDE-PluginInfo-Author=Sinny Kumari
X-KDE-PluginInfo-Email=ksinny@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=image
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=pmc_picasabackend
